[2019-12-18 11:04] gbstan commented on #252
Same issue on macox 10.15.2.
mas search, mas upgrade do not work any more

[2019-12-25 06:07] nhurden opened #256 "`list` does not display some installed apps"
## Your Environment

- `mas version`: 1.6.3
- macOS version:

[code]

### mas Install Method

`brew install mas` (homebrew-core)

## Describe the Bug

After successfully installing DaisyDisk (411643860) or Paw (584653203), neither appears in the output of `mas list`. Subsequently `brew bundle` always reinstalls these even though there is no need to.

## To Reproduce

1. Run `mas install 411643860`

[2020-01-13 20:52] andrewcrook opened #257 "🐛 [BUG] - up to date stock Apple apps listed as outdated."
## Your Environment

- `mas version`:
1.6.3

- 'system':
System Version: macOS 10.15.2 (19C57)
Kernel Version: Darwin 19.2.0

### mas Install Method

- [X] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
   - Fork/branch: ? (e.g. mas-cli/master)
   -

[2020-01-16 22:49] malob commented on #256
I was having the same issue for DaisyDisk, Keynote, MindNode, Numbers, Pages, and Pixelmator. I managed to resolve it by uninstalling the apps in question using LaunchPad, then running `brew bundle` to reinstall them.

(I'm on macOS 10.15.2)

[2020-01-17 17:15] nigelhiz opened #258 "`search` not returning full app list"
Environment:
    macOS Catalina 1015.2
    mas 1.6.3 installed from brew

Install Method:
   brew install mas

Description:
Mas doesn't seem to list all the applications in App Store, for example BBEdit. Other applications are listed perfectly fine.

Steps to reproduce the behavior:
On the command line run:
"mas search BBEdit"

Response:
No results found
Error: No results found

Application in App

[2020-01-22 08:37] YogiKhan commented on #164
I am facing the same issue of signin being disabled. Apart from login via appstore manually, is there any other workaround i can use?

[2020-02-04 04:36] phatblat opened #259 "🐛 [BUG] Linuxbrew Error: undefined method `installed?' for OS::Mac::Xcode:Module"
🆕 Installing: mas
Error: undefined method `installed?' for OS::Mac::Xcode:Module
Please report this bug:
  https://docs.brew.sh/Troubleshooting

add to formula
[code]

[2020-02-06 16:06] huxuan opened #260 "`search` does not output Microsoft To Do"
## Your Environment

- `mas version`: 1.6.3
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 10.15.3

### mas Install Method

- [X] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
   - Fork/branch: ? (e.g. mas-cli/master)
   -

[2020-02-10 03:55] phatblat commented on #248
@mangerlahn I'm finally getting back to digging into this and didn't find much in the [`AppStoreFoundation`](https://github.com/phatblat/macOSPrivateFrameworks/tree/e8ec27836c76771f1503aca8085a5cd19be24a4e/PrivateFrameworks/AppStoreFoundation) generated headers, however [`AppStoreDaemon`](https://github.com/phatblat/macOSPrivateFrameworks/tree/e8ec27836c76771f1503aca8085a5cd19be24a4e/PrivateFramew

[2020-02-19 04:20] 85u2e8 opened #262 "🐛 [BUG]"
## Your Environment

- `mas version`:
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 10.1...

### mas Install Method

- [] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
   - Fork/branch: ? (e.g. mas-cli/master)
   - Xcode

[2020-02-19 21:21] nyg commented on #260
My guess is that the issue is in the [StoreSearch](https://github.com/mas-cli/mas/blob/d2802fda23ea2fc0f2875f51a20f51731308e151/MasKit/Controllers/StoreSearch.swift#L32) file. If the `attribute=allTrackTerm` is removed from the API URL the result will appear. The problem is that other somewhat irrelevant results may also appear (e.g. with "slack", going from 5 to 36 results).

I haven't been able

[2020-02-20 06:23] huxuan commented on #260
OK, got that. Thanks for the response and explanation. Then I will close this issue due to redundancy.

[2020-02-20 06:23] #260 closed

[2020-02-21 20:14] shedali commented on #258
same issue for [Drafts](https://apps.apple.com/app/id1435957248?mt=12)

[2020-02-22 16:17] tabchas commented on #111
Still looks like it's broken. There are updates that show up in the GUI but won't show up in the the `mas outdated` list. It also is strangely showing that Xcode needs to be downgraded from 11.3.1 to 11?

![Screen Shot 2020-02-22 at 10 14 32 AM](https://user-images.githubusercontent.com/732771/75095629-82eace80-555c-11ea-8d67-e421e99edff7.png)

[2020-02-29 11:00] andrewcrook commented on #257
Possible duplicate of #249  -
Cannot install Pages (8.2), Numbers (6.2), Keynote (9.2) or iMovie (10.1.13)

[2020-02-29 11:00] #257 closed

[2020-02-29 11:06] andrewcrook commented on #249
Duplicate of #92 -
"mas outdated shows apps that were just updated"

[2020-02-29 11:10] andrewcrook commented on #76
could the following issue #92  and #249  also been caused by this?
opening Apples App Store App before made no difference.

[2020-03-02 10:26] nevyn-lookback commented on #252
Same on Mac OS 10.14.4 with mas 1.6.3. Tons of outdated software in my app store, mas upgrade says everything is up to date.

[2020-03-14 01:26] danielbayley commented on #164
@phatblat Any sign of solutions to this?

[2020-03-14 07:44] tiiiecherle commented on #164
see my [comment](https://github.com/mas-cli/mas/issues/164#issuecomment-427061409) above ;)

[2020-03-16 16:26] danielbayley commented on #164
@tiiiecherle Thanks, yeah I did adapt the AppleScript and got it working along with [`tccutil`](https://github.com/jacobsalmela/tccutil)… but unfortunately hit another road block in that a script can't deal with 2FA🤦🏻‍♂️😅

[2020-03-16 22:07] tiiiecherle commented on #164
@danielbayley I'm sorry I cannot help out with that as the script really can't deal with two factor authentication. I hope there will be a straight forward command line login possibility any time soon.

[2020-03-17 10:26] danielbayley commented on #164
🤞🏼

[2020-03-22 16:23] azurinspire commented on #258
Same for Twitter. `mas search Twitter` founds all kind of 3rd party Twitter clients but not the one made by Twitter.

![Screenshot 2020-03-22 at 17 22 46](https://user-images.githubusercontent.com/40248184/77254523-d5093780-6c61-11ea-9247-1c9acdee6017.png)

[2020-03-25 18:46] garrettoreilly commented on #252
Ditto. macOS 10.15.4 and mas 1.6.3 from Homebrew. `mas outdated` returns nothing and `mas upgrade` returns `Everything is up-to-date`, even when there are updates available in the App Store.

[2020-04-01 17:16] yalefox commented on #244
This is broken again, unfortunately. With the same steps as outlined above.

[2020-04-14 18:29] NuroDev opened #265 "No search results for Dato"
## Your Environment

- `mas version`: `1.6.3`
- macOS version: `10.1.15.3`

### mas Install Method

- [x] `brew install mas` (homebrew-core)
- [ ] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [ ] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [ ] Built from source
   - Fork/branch: ? (e.g. mas-cli/master)
   - Xcode version: 10.?

## Describe the Bug

## To

[2020-04-20 20:15] johnalanwoods commented on #252
same, totally broken.

[2020-04-21 23:34] mnsanghvi opened #266 "Does not work without user signed into Mac GUI"
## Your Environment

- `mas version`: 1.6.3
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 10.15.4 (19E287)

### mas Install Method

- [x] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
   - Fork/branch: ? (e.g. mas-cli/mas

[2020-04-22 16:35] StarWitch commented on #252
Same issue here.

[2020-04-30 23:15] waltmck commented on #252
Same exact issue here. Running Catalina 10.15.4 with mas 1.6.3, homebrew 2.2.14.

[2020-05-04 17:15] straxhaber commented on #164
@phatblat Have you considered integrating @tiiiecherle's apple script into `mas`? If you're worried about the security and purity aspects of mixing GUI code into a command-line utility, perhaps you could make it an option that requires explicit action (for example, a `--use-applescript` flag). While this isn't ideal, it would be better than nothing for some use cases.

[2020-05-06 14:12] levifig commented on #258
It's getting worse… 😬

![Screen Shot 2020-05-06 at 15 12 31](https://user-images.githubusercontent.com/1605/81187469-03da3380-8fac-11ea-912c-c4b39879e07e.png)

[2020-05-08 03:15] dadchyyy commented on #258
I have the same issue.
Not all apps are listed in most cases... 🤔

[code]

[2020-05-09 11:29] lion-man44 commented on #258
me too.
I've only noticed one thing.

If you search by ID, you'll find it.
The search command just doesn't work well though.

[code]

I googled the ID.

[2020-05-12 00:38] phatblat commented on #262
This issue doesn't contain any details. Please open a new issue and fill out the template if you want to report something or ask for a feature.

[2020-05-12 00:38] #262 closed

[2020-05-13 04:54] phatblat commented on #265
Fixed in #269

[2020-05-13 04:54] #265 closed

[2020-05-13 04:54] phatblat commented on #258
Fixed in #269

[2020-05-13 04:54] #258 closed

[2020-05-13 04:55] phatblat commented on #176
Fixed in #269

[2020-05-13 04:55] #176 closed

[2020-05-13 18:12] t--takai commented on #258
Thank you very much. Thanks to your help, we were able to find Spark.

[code]

[2020-05-14 02:53] phatblat commented on #260
This is fixed now in mas 1.6.4

[code]

[2020-05-14 02:55] phatblat commented on #220
This is fixed now in mas 1.6.4

[code]

[2020-05-14 02:55] #220 closed

[2020-05-14 02:56] phatblat commented on #221
This is fixed now in mas 1.6.4

[code]

@zntfdr Jira is searchable now too 😄

[code]

[2020-05-14 03:09] huxuan commented on #260
That's great! Thanks! @phatblat

[2020-05-14 03:50] zntfdr commented on #221
Awesome, thanks for the fix! 😃

[2020-05-14 08:12] maelcum commented on #221
THANK YOU!!!

[2020-05-15 19:35] captcarl13 commented on #252
Still present in 1.6.4

[2020-05-15 19:55] johnalanwoods commented on #252
Anyone else find it weird development is ongoing yet no one seems to notice this from dev?

[2020-05-16 17:07] nevyn commented on #252
@johnalanwoods Not at all, this is OSS software and Ben has no obligation to us, and hard-to-reproduce bugs are a PITA.   The only thing that I find weird is that none of us has provided a PR. I’ll try to debug it next time I run into it...

[2020-05-16 17:09] johnalanwoods commented on #252
@nevyn oh! I hadn't realised it was OSS! apologies!

It's not an esoteric bug. It affects 30 ppl in my office and all of my friends.

smfh.

[2020-05-16 17:17] garrettoreilly commented on #252
@johnalanwoods @nevyn C’mon, we’re not children.

While true, this issue doesn’t seem difficult to reproduce.

[2020-05-16 17:30] tpulatha commented on #252
It’s easy to reproduce but not easy to fix. There is a discussion here: https://github.com/mas-cli/mas/issues/248

This is OSS. Nobody owes you anything. Not even fixing easy bugs. If you are annoyed, you can help by going ahead and fixing the bug.

[2020-05-16 17:31] johnalanwoods commented on #252
@tpulatha LOL

[2020-05-18 12:57] phatblat commented on #252
The `outdated` and `upgrade` commands have been broken for quite some time. I believe they were flaky on Mojave. There is some discussion in #248 on a possible new macOS subsystem that may be responsible for this, but it is considerably more complicated to interface with.

[2020-05-18 12:59] #221 closed

[2020-05-18 13:11] phatblat commented on #256
@nhurden can you check to see whether this issue was resolved in mas 1.6.4? I use both of these apps and get DaisyDisk in the output of `mas list`:

[code]

As for [Paw](https://apps.apple.com/us/app/daisydisk/id584653203?mt=12), it looks like the old version has been removed from the App Store. So, if you are still using v2, the App Store doesn't know about it anymore. v3 is distributed through [

[2020-05-18 13:23] phatblat commented on #266
The `list` command may have been affected by a bug fixed recently in 1.6.4. Can you retry on this update and let me know if the situation has changed?

As for `outdated` and `upgrade`, these have been broken for a while and I don't have a handle on how to fix them yet.

Using mas over SSH often has issues if there is no user logged into the macOS GUI. I suspect that this is due to the App Store ne

[2020-05-20 23:27] Rohan200220 commented on #46
Is it possible to install OS X installers old which have not been purchased from the App Store?

[2020-05-21 10:24] andrewcrook commented on #248
I have the same issue using mas directly from the command line. It first started with what were the  iWork apps  so numbers, pages , keynote etc not updating properly it said they were always out of date despite having the latest versions installed (same as #249 ). Then since  macOS 10.15.4 possibly 10.15.3 as well (cannot recall) the opposite it says **all** installed apps are the latest versions

[2020-05-21 14:06] andrewcrook commented on #248
Mind you I have noticed that [macupdater](https://www.corecode.io/macupdater/) picks up new versions of appstore apps.

<img width="871" alt="image" src="https://user-images.githubusercontent.com/803618/82550794-02396f80-9b57-11ea-8179-3fb73dcc6fc1.png">

However, they rarely show under updates in the app store.

<img width="1314" alt="image" src="https://user-images.githubusercontent.com/803618/8

[2020-05-22 02:55] phatblat commented on #46
@Rohan200220 yes, this may be possible. [#106](https://github.com/mas-cli/mas/issues/106#issuecomment-374810186) has discussion on how to install macOS installers and #264 just added purchase support for free apps (due out soon in [1.7](https://github.com/mas-cli/mas/milestone/9?closed=1)). #144 is a request for this without being signed in, which may also be possible.

[2020-05-22 18:17] Rohan200220 commented on #46
@phatblat Cant wait for v1.7!!!! This would be so awsome!!

[2020-05-22 22:55] Rohan200220 commented on #46
@phatblat Any Estimated time of when v 1.7 is released?

[2020-05-23 08:39] nhurden commented on #256
I've updated to mas 1.6.4 and macOS 10.15.4 and the issue persists.

I've also tried manually uninstalling Daisydisk via both the finder and Launchpad followed by re-installing using mas, but Daisydisk still doesn't appear in the output of `mas list`.

[2020-05-23 08:40] nhurden commented on #256
Which also means that this is possible:

[code]

[2020-05-24 14:56] pridkett commented on #256
I was having the same issues with Pixelmator and Quiver. I "fixed" it by uninstalling the apps from launchpad and then installing them through `MAS`.
[code]

Now they seem to work fine..

[2020-05-25 09:58] Rohan200220 commented on #106
So i cant download mavericks and yosemite from mas 1.7.0. When i write mas purchase and then mavericks’s app id, it says item is not available. So i guess there is no way to download mavericks and yosemite from the app store?

[2020-05-25 13:59] phatblat commented on #145
This feature has been added as the new `purchase` command in [1.7.0](https://github.com/mas-cli/mas/releases/tag/v1.7.0)

[2020-05-25 13:59] phatblat commented on #2
This feature has been added as the new `purchase` command in [1.7.0](https://github.com/mas-cli/mas/releases/tag/v1.7.0)

[2020-05-25 18:27] acrostich opened #276 "Include binaries with the new releases"
For v1.6.4 and v1.7.0, the assets on https://github.com/mas-cli/mas/releases do not include the binary.

It would be helpful if binaries where posted to the Release page with each new version.

I am not using Homebrew, but Macports, an alternative would be to support the build of mas-cli with Macports as well as with Homebrew.

[2020-05-28 03:58] phatblat commented on #276
Resolved now.

The [`package`](https://github.com/mas-cli/mas/blob/master/script/package) script has been misbehaving, but the macOS 10.15.5 update yesterday seems tohave fixed it.

[2020-05-28 03:58] #276 closed

[2020-05-28 19:00] Sergong commented on #248
I have the same discrepancies, the left hand (softwareupdate) doesn't seem to be aware of updates scheduled for the App Store but in its history it does see which tool was installed by either the App Store (as well as other installers)... It seems quite a "mess"... Perhaps a case of "too many cooks in the kitchen" :)

[2020-05-28 19:41] andrewcrook commented on #248
@Sergong  I am beginning to think it’s macOS.

[2020-05-31 19:49] Sergong commented on #248
@andrewcrook it sure seems that way. Perhaps as someone else suggested, Apple is re-organising how this works but it is on the less important list...

[2020-06-05 23:25] malob commented on #256
Just and update that I had this same issue again with Slack.

[2020-06-06 10:29] jakewilliami opened #279 "🐛 [BUG] `mas search Amphetamine` not returning results"
## Your Environment

- `mas version`: 1.6.3
- macOS version: 10.14.6

### mas Install Method

- [x] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
   - Fork/branch: ? (e.g. mas-cli/master)
   - Xcode version: 10.?

## Describe the Bug

The applicatio

[2020-06-12 23:59] danielbayley opened #281 "Subcommand aliases"
**Is your feature request related to a problem? Please describe.**

`mas` could use a few aliases, to bring it more in line with `brew` and `cask`…

### Proposed

- `-v` ➡ `version`
- `ls` ➡ `list`
- `remove` ➡ `uninstall`
- `rm` ➡ `uninstall`
- `get` ➡ `install <with arguments>` (after `install` is updated to "purchase")
- `purchase` ➡ `install <with arguments>` (after `install` is updated to "pu

[2020-06-13 03:03] phatblat commented on #281
Good idea! These would be easy to add.

[2020-06-13 08:13] danielbayley commented on #281
@phatblat I imagine so… although I haven't dug into Swift yet… If you point out where in the codebase, I can do a PR…

[2020-06-14 10:30] eloyaldea opened #282 "Force re-scan for updates"
**Is your feature request related to a problem? Please describe.**
I'm confused because the App Store tells me about a new app version, but 'mas' doesn't, even after doing 'mas upgrade' and 'mas outdated'. It's constantly happening to me so I have to open the Mac App Store and update via itself, so that makes me think that mas isn't as useful as I'd like. So an option to force a scan for updates /

[2020-06-14 20:21] phatblat commented on #281
This project uses [Commandant](https://github.com/Carthage/Commandant) and all the commands live in the [Commands](https://github.com/mas-cli/mas/tree/master/MasKit/Commands) folder. I don't see an option in Commandant for creating a command alias. However, you could

1. Duplicate the classes
    - e.g. copy [`List.swift`](https://github.com/mas-cli/mas/blob/master/MasKit/Commands/List.swift) to `

[2020-06-16 14:54] danielbayley commented on #281
@phatblat Ok, quickly done that for `i`, `ls`, `rm`/`remove`, and `update` in #283… Not sure how to deal with `-v`/`--version`, or `-h`/`--help` within the context of the Commandant framework though…

[2020-06-18 05:36] florianrusch commented on #279
For me it helped to upgrade mas to 1.7.0:
[code]

[2020-06-19 03:11] jakewilliami commented on #279
Yep, that was it.  Thank you @florianrusch.

[2020-06-19 03:11] #279 closed

[2020-06-25 14:49] dwlf opened #284 "🐛 [BUG] `mas search things` fails with "Error: Unable to parse response JSON""
## Your Environment
1.7.0
      System Version: macOS 10.15.5 (19F101)
      Kernel Version: Darwin 19.5.0
      Time since boot: 7:21

### mas Install Method

brew install mas

## Describe the Bug

`mas search things fails` with
Error: Unable to parse response JSON

### Background

I install Cultured Code Things using mas. I use a `mas search` to find the thingsProductID.

## To Reproduce

% brew

[2020-06-25 17:25] phatblat commented on #284
Thanks for the report. I've seen this with a few app titles but some others (airmail) are working.

[2020-06-25 17:27] phatblat commented on #284
## Working

- airmail
- tweetbot

## Fail with JSON Error

- things
- bear

[2020-06-27 07:19] koliberek0302 opened #285 "Blank"

[2020-06-27 07:20] #285 closed

[2020-06-27 07:51] koliberek0302 opened #286 "Blank"

[2020-06-27 07:52] #286 closed

[2020-06-28 07:49] tiiiecherle commented on #250
Unfortunately this issue still exists. As I am not a programmer I don't know if it is hard to fix. But for everyone working with a separate partition (internal or external) all apps on the main partition get overwritten instead of installing to the correct booted volume.

With the next macOS around the corner this will have an impact for the next half year where a lot of people will have to macOS

[2020-06-28 16:41] Mazyod commented on #250
I was also interested to know ... So, I looked quickly through the code, and seems like mas uses a private Apple framework called "CommerceKit", and all it really does is pulls all installed software from using the singleton.

I would assume either mas is using the private framework wrong, but it's hard to tell since it's private and undocumented, or the private framework is limited and requires s

[2020-06-28 17:23] mariobrostech opened #287 "`lucky`: Install multiple apps"
**Is your feature request related to a problem? Please describe.**
I currently use a script to deploy App Store apps with mas. When I run `mas install id1 id2 id3`, mas installs all 3 of the apps with their respective IDs. However, if I run `mas lucky app1 app2 app3`, I get an error saying `Unrecognized arguments: "app1" "app2" "app3"`
Why don't these commands work in a similar manner?

**Describe

[2020-06-29 11:10] tiiiecherle commented on #250
@Mazyod Thanks for the feedback and for looking into the code. For the given reasons I hope there will be a fix soon. The only workaround I found until now was to copy my mas apps install script to the booted macOS partition and unmount all partitions from other macOS installations. Then run the mas apps install script. This works, but is clearly only a workaround, not a solution.

[2020-06-29 12:11] Mazyod commented on #250
Sure @tiiiecherle .. I honestly don't have THAT many Mac apps to bother with a workaround :) But the problem is intriguing, so I dug again and found more clues for someone who might tackle this .. Perhaps my future self.

https://github.com/mas-cli/mas/blob/master/PrivateFrameworks/StoreFoundation/ISStoreClient.h#L79

Basically, it is possible to initialize `ISStoreClient` with an application path

[2020-06-30 19:52] tiiiecherle commented on #250
@Mazyod Thanks again for the feedback and for looking for a solution. Unfortunately I can not help regarding the code, sorry. Would be nice if you and @phatblat or another developer could pick it up for a fix.

Thanks in advance

[2020-07-03 04:23] ph55 opened #288 "Add already installed apps to mas?"
After installing mas, applications that were already installed manually via App Store don't appear when I run `mas list`.

* Is there any way to make mas "see" manually installed apps ?
* If I install app via mas and it was already installed manually, wouldn't it conflict ?
* Should I uninstall manually installed app before installing it via mas ?

[2020-07-03 23:04] ynp-repos opened #289 "`purchase` doesn't work on macOS 10.15+"
## Your Environment

- `mas version`: 1.7.0
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`):
    System Software Overview:

      System Version: macOS 10.15.5 (19F101)
      Kernel Version: Darwin 19.5.0

### mas Install Method

- [] `brew install mas` (homebrew-core)

## Describe the Bug

It seems that purchasing isn't working in Catalina. It's a brand new Macbook Pro 20

[2020-07-06 06:44] JimDabell opened #290 "🐛 [BUG] `mas outdated` gives incorrect information"
## Your Environment

- `mas version`: 1.7.0
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 10.15.5 (19F101)

### mas Install Method

- [x] `brew install mas` (homebrew-core)

## Describe the Bug

When I run `mas outdated`, it reports the following:

v4.2.5 is the latest version in the Mac App Store, and I have it installed.  v4.1.4 was released nine months ago.

When I v

[2020-07-15 11:19] johnalanwoods commented on #252
@phatblat  - are they not the most useful functions though?

[2020-07-15 11:35] tpulatha commented on #252
Indeed I agree that this app is pretty useless for my use case without being able to upgrade.

[2020-07-15 15:02] Loreno10 commented on #290
I have a bit different issue, but the general problem is the same - `mas outdated` does not provide accurate information.
In my case, App Store how's that 3 apps can be updated. `mas outdated` does not show any outdated apps. Also `mas upgrade` does not do anything. I'm on Catalina

[2020-07-16 15:33] ppo commented on #290
Similar problem. App Store shows a new version in "Upcoming Automatic Updates" that doesn't appear with `mas outdated|upgrade`.

[2020-07-24 05:51] koliberek0302 opened #291 "Blank"

[2020-07-24 05:52] koliberek0302 commented on #291
New Project

[2020-07-24 05:53] koliberek0302 opened #292 "Blank"

[2020-07-24 05:55] koliberek0302 opened #293 "Blank"

[2020-07-30 11:11] rogeriopradoj commented on #111
Pointing to @newz2000 said, I had to force install, and it did the job via cli.

But, for that, I had to do these steps:

- `mac list` to get all the app ids
- open the App Store.app to see which updates are available (running `mac outdated` shows nothing)
- run `mac install ID_OF_APP --force` for each of the outdated apps

After that, I got it all upgraded.

I think it is much more painful than j

[2020-08-01 12:32] tiiiecherle commented on #164
For anyone interested in trying the updated version of the login script. It should be compatible with macOS Big Sur now ;)

I'm looking forward to any feedback.

[https://github.com/tiiiecherle/osx_install_config/blob/master/03_homebrew_casks_and_mas/3b_homebrew_casks_and_mas_install/6_mas_appstore.sh](https://github.com/tiiiecherle/osx_install_config/blob/master/03_homebrew_casks_and_mas/3b_homeb

[2020-08-06 18:48] #292 closed

[2020-08-09 00:59] aaronk1 commented on #290
same 👍

[2020-08-10 16:21] #293 closed

[2020-08-11 23:24] koliberek0302 opened #297 "Blank"

[2020-08-11 23:26] #297 closed

[2020-08-17 08:15] yoyoys commented on #284
`line` also give this error

[2020-08-23 19:00] phatblat commented on #288
What do you mean by "manually" installed? Did you use the "GET" or "cloud download" buttons in the App Store GUI? Or, did you download a package installer from the developer's website?

[2020-08-23 19:06] #238 closed

[2020-08-23 19:20] phatblat commented on #256
Digging into this issue again and I'm not able to reproduce the issue with the `list` command, but there's certainly something odd going on here.

Testing with the Slack app which I already had installed on this Mac, it showed in the `list` output but showed as "Not installed"  when I ran the `uninstall` command.

[code]

Manually uninstalled Slack using macOS Launchpad.

[code]

Uninstall worked

[2020-08-25 21:52] Blaisorblade commented on #290
Same 👍 , mas does not show this iMovie update (and I think it didn't show the previous one either).

- `mas version`: 1.7.0
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 10.15.6 (19G2021)

### mas Install Method

- [x] `brew install mas` (homebrew-core)

[code]

But:
![image](https://user-images.githubusercontent.com/289960/91231633-e208e600-e72d-11ea-8891-ad6884de30c0.

[2020-08-27 08:01] ph55 commented on #288
By manually I meant downloading from App Store GUI yes. I checked now and it works fine.

[2020-08-27 08:01] #288 closed

[2020-09-03 03:42] phatblat commented on #284
Looks like some bad data coming from the iTunes Affiliate search API, missing values for:

- `fileSizeBytes`
- `formattedPrice`
- `price` (normally present, but "Free" when no cost)

This can be fixed with some extra logic to handle these missing values.

[2020-09-06 15:09] chuckhendo commented on #284
@phatblat FYI, It looks like the items that are missing those properties are games in Apple Arcade. For example, when I search for 'things', the item missing those properties is 'Things That Go Bump,' which is available on Apple Arcade.

[2020-09-06 20:55] phatblat commented on #284
Great observation @chuckhendo! Since Apple Arcade is a somewhat newer concept and you don't "pay" for those titles, it makes sense why the `price` value is missing. I've got a fix in the works, just need to do a little more testing before I put it out in 1.7.1.

[2020-09-07 15:35] andrewcrook commented on #282
My experience is that mas doesn’t seem to work on Catalina very well or if at all. I think this is caused by the App Store because the App Store app updates also don't show up immediately (as I found out by using MacUpdater) and there doesn’t seem to be a way to force it to check for app updates either. Even by enabling App updates with System Software Updates and using the force option with the m

[2020-09-07 15:44] phatblat commented on #284
Fixed in [1.7.1](https://github.com/mas-cli/mas/releases/tag/v1.7.1). Homebrew update pending, but the new version can be installed now via the .pkg installer attached to the release.

[2020-09-07 15:44] #284 closed

[2020-09-09 14:19] andrewcrook commented on #290
Mas: 1.7.0
OS: System Version: macOS 10.15.6 (19G2021)

Still having issues has never really worked properly with Catalina.
I hope Big Sur works.

**example Goodnotes 5.5.6 released on 09/09/2020**

<img width="244" alt="image" src="https://user-images.githubusercontent.com/803618/92609656-bb5eb980-f2ae-11ea-8fef-2a3576c9bed8.png">

<img width="295" alt="image" src="https://user-images.githubuserc

[2020-09-09 23:29] garrettoreilly commented on #290
More conversation about this in #252.

[2020-09-10 12:55] Blaisorblade commented on #252
Easy improvement: add a print statement informing users they are known broken on some OS versions and pointing to the right issue.

That doesn't mean anybody _has_ to do it, it just means we should consider treat `mas` as unsupported and uninstall it.

[2020-09-10 13:20] johnalanwoods commented on #252
I think this bug is a showstopper for the project. What use is a Mac App Store CLI that doesn't let you upgrade your apps.

[2020-09-10 13:39] 454de6e commented on #252
The project is still super useful when you install a new laptop and script installation with something like Strap.

[2020-09-10 13:41] johnalanwoods commented on #252
Ah, I see your point there.

[2020-09-10 14:20] p-vernaeckt commented on #252
If you like Strap, then you might want to checkout [reinstall.sh](https://gitlab.com/X99/reinstall.sh), a project of mine. It "uses" mas.

[2020-09-18 21:25] jimothyGator commented on #111
@rogeriopradoj 's comment made me think of an idea: Could `outdated` run `info` for each installed app, and compare either the version number or release date? Obviously, the more apps you have installed, the slower this would be.

Maybe keep the existing behavior (using `CKUpdateController`), but with `outdated --force` and `upgrade --force`, use this slower method.

[2020-09-24 11:44] solrevdev opened #304 "🐛 [BUG] objc[23337]: Class AMSupportURLConnectionDelegate"
## Your Environment

- `mas version`: 1.7.1
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`):
[code]

### mas Install Method

- [X] `brew install mas` (homebrew-core)

## Describe the Bug

Running any mas command gives this error message

[code]

[2020-09-28 23:30] DolphinFlopFish opened #305 "OS X 10.8 Compatibility"
## Your Environment

I haven't installed mas.

- macOS version 10.8.5

### mas Install Method

N/A

## Describe the Bug
The bug is compatibility issues with OS X 10.8.5.

I tried older versions of MAS and they did not work.

I tried Homebrew and MacPorts but they both did not work.

## To Reproduce

Steps to reproduce the behavior:

Get OS X 10.8.5
Install MAS

## Expected Behavior

MAS would auto

[2020-09-30 19:51] dtgriscom commented on #304
Confirmed on macOS 10.14.6:

[code]

[2020-10-03 17:52] cdalvaro commented on #190
Hi! Is there any progress on this issue??

[2020-10-04 20:38] charlietomo commented on #290
I'm also having this issue, i.e. mas does not detect when upgrades are available.

Having read multiple other threads about this, it seems to be an ongoing issue that has not been resolved. I appreciate this is open source software and it has been helpful for me for setting up a new laptop.

If I complete the update in the Apple GUI for App Store then the update works, and a `brew list` shows the

[2020-10-07 13:59] LRNZ09 commented on #216
I'm having the same issue

[2020-10-14 12:50] MR-T77 commented on #87
I'm having this issue.
Just removed mas and then `brew install mas`, but `mas list` always returns empty

OS Catalina 10.15.7
mas version=1.7.1

I've used Terminal with zsh and iTerm2 with zsh, both without success.

[2020-10-22 04:49] misc-activities opened #306 "mas outdated not working"
I just installed mas on my macOS Catalina installation. I have signed into the app store from the Mac App Store. When I run `mas list`, I can see all the installed apps. There is an update available for Xcode which I want to try installing using mas. However, when I run `mas outdated`, it doesn't show the available update. I ran `mas reset` and then ran `mas outdated` again but that didn't work as

[2020-10-22 07:11] hernancorigliano commented on #306
I have the same issue but not only with Xcode, but all pending updates. There is no output from `mas outdated`.

[2020-10-26 18:31] Luminus commented on #306
I'm experiencing the same situation.

* `mas outdated` has no output even though I have apps that need to be updated
* Similarly, `mas upgrade` returns `Everything is up-to-date`, which is not true
* Trying to update individual apps by running `mas upgrade XXXXXXXX` where XXXXXXXX is the relevant ID returns `Warning: Nothing found to upgrade`

[2020-11-12 12:03] andrewcrook commented on #306
Doesn’t seem to work on Catalina I have never got it to work fully.
I can only get list, install and remove to work.
At least I can install all my applications scripted on Big Sur
the question is do all the Mas features work on Big Sur or is it going to be like Catalina?

[2020-11-12 12:06] andrewcrook commented on #259
Does this need to be raise with Homebrew's repository?

[2020-11-14 13:34] Yelles commented on #306
same for me, updates are available in AppStore, but when I run mas outdated it doesn't show the available update... same for mas upgrade/install
(i'm on catalina)

[2020-11-14 23:38] shoopdawoop opened #307 "How to grep the progress bar?"
A bit off topic perhaps, but I'll give it a shot:

I would like to run `mas install` in a shell script and report back when a download is finished and when it's successfully installed, but I cannot figure out how  to do the former.

I thought I'd try a simple `grep` on the output, but only a `mas install | grep "Installed"` works (on the final output after the whole process is finished), while a `

[2020-11-15 13:23] shoopdawoop commented on #307
Nevermind, I found a way to work around this by temporarily sending `installd` to sleep until the download is finished.

I leave this open in case it is of interest to anyone as an actual feature request.

[2020-11-16 13:37] phatblat commented on #307
The [`clearLine`](https://github.com/mas-cli/mas/blob/master/MasKit/Formatters/Utilities.swift#L44) called in [`PurchaseDownloadObserver`](https://github.com/mas-cli/mas/blob/master/MasKit/AppStore/PurchaseDownloadObserver.swift#L86) is probably what's fouling up that output. It's intended to rewrite the current line for an updating progress bar but messes up the final stdout that gets ends up in

[2020-11-16 14:20] phatblat commented on #259
No, just something to configure on the formula to mark it as not compatible with Linuxbrew.

[2020-11-19 02:16] drewauff commented on #306
Outdated switch dead on Catalina.

[2020-11-19 12:23] ke11 commented on #306
not working on Catalina after the recent security patch

[2020-11-27 16:37] brian163 commented on #306
I may be seeing something similar on Mojave. I came here to see if I could figure out why the App Store app is telling me there is an update for BlackMagic Speed Disk (425264550) but mas (which I usually run to avoid the aggravation with the GUI I've had in the past) just told me everything was up to date.

When I do a manual list of everything installed:
mas list | grep Disk
425264550 Disk Speed

[2020-11-30 18:42] dirn opened #308 "🐛 [BUG] Cannot run mas on ARM-based CPU"
## Your Environment

- `mas version`: 1.7.1
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 11.0.1

### mas Install Method

- [x] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
   - Fork/branch: ? (e.g. mas-cli/master)
   -

[2020-12-01 22:58] phatblat commented on #308
Thanks for this. I did test building and running mas on a DTK box and it worked fine. But I need to include an arm64 slice I the binary to resolve this.

[2020-12-01 23:15] phatblat commented on #308
Actually, it may be the dependencies that are missing the arm64 slice

[2020-12-02 23:47] Stanzilla commented on #306
Also not working on BigSur

[2020-12-02 23:48] Stanzilla commented on #282
Same for BigSur

[2020-12-02 23:52] MMilesMM commented on #308
I'll get it to install normally with the beta Build of Homebrew for Arm but when I try to run it, it gives me the following error:
`zsh: killed mas`

[2020-12-03 07:51] zntfdr commented on #287
Duplicate of #168

[2020-12-03 09:53] andrewcrook commented on #306
Apple has changed the way the AppStore works this may mean mas might not ever work with it.

[2020-12-08 01:56] mariobrostech commented on #287
Sorry about that, I'll close this issue so you can work on it over there. Thanks!

[2020-12-08 01:56] #287 closed

[2020-12-08 16:09] benftrex commented on #306
Not working for me on Catalina and Bigsur.
As others have pointed, only "mas list" works. Outdated and upgrade don't, and never have for me since Catalina.

[2020-12-11 02:45] mattmc3 commented on #308
I can also confirm this behavior.

`brew install mas` works great.

But then...

[code]

[2020-12-16 15:24] chapati23 commented on #221
adding one more to the list: Outbank, id: 1094255754

[2020-12-16 16:16] maelcum commented on #221
thanks. it had already been added on 20th Aug. 2019 (5th post above yours), though. too bad this still isn't working.

[2020-12-21 09:22] marijnbent commented on #308
Confirmed for me as well

[2020-12-21 23:18] remy-tiitre opened #309 "🐛 [BUG] mas list showing duplicated items"
## Your Environment

- mas version: 1.7.1
- macOS version 11.1 Big Sur

### mas Install Method

- brew install mas

## Describe the Bug

I actually used Ansible homebrew module first time when I installed mas, but then I did brew uninstall and manually installed brew install mas. Yet still has list shows duplicated rows like this:
409203825 Numbers (10.3.5)
409201541 Pages (10.3.5)
409183694 Keyno

[2020-12-21 23:24] remy-tiitre commented on #309
Newer mind. It seems that it managed to find apps from my backup.

[2020-12-22 22:17] johnalanwoods commented on #308
This is maybe due to codesign rules for ARM64. All need to be at least adhoc signed.

[2020-12-27 16:14] lonelykid commented on #306
If ``mas info`` and ``mas list`` works, isn't it an easy fix to use the info to decide if an upgrade is needed? This might be clumsy and slower but at least it works.

[2020-12-29 20:53] chris-araman commented on #308
I suspect this is due to `script/install` altering the executable's `rpath` after code signing.

[code]

[2020-12-30 17:27] minuq opened #311 "Unable to parse response JSON (PDF Expert)"
## Your Environment

- `mas version`: 1.7.1
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): macOS 11.2 (20D5029f)

### mas Install Method

`brew install mas` (homebrew-core)

## Describe the Bug

`mas search` returns `Error: Unable to parse response JSON` when searching for PDF Expert by ID, but not by name. Search by ID works for other programs (tried 5 or so, all worked

[2020-12-31 12:00] minuq commented on #311
No idea what changed, but today it's working again after a week or so of failing.

[code]

[2021-01-07 18:43] davidbailey00 commented on #308
The MacPorts version also fails to build due to one of its dependencies not supporting arm64

[2021-01-13 09:27] marvinosswald commented on #309
The same thing happend to me but with my second macos installation on another hdd, my issue being can i somehow reset this so i can install an app on my current macos installation ?

[2021-01-14 11:01] minacle commented on #308
Same here.

- __Machine:__ Macmini9,1
- __macOS:__ 20C69

[code]

[2021-01-15 04:40] rgoldberg commented on #306
I just verified that `mas info` shows the current version of the app in the store while `mas list` shows the version of the app installed on my machine, so this should work.

I'd be willing to work on fixing this, but I haven't used Xcode, Swift, or Mac APIs before (I mainly code in Java & Kotlin).

I forked the repo, then received the following 8 errors & 1 warning when building the project in Xc

[2021-01-15 04:47] lonelykid commented on #306
Looks like you are just missing some package, for example, https://github.com/Carthage/Commandant

[2021-01-15 08:24] rgoldberg commented on #306
A git repo for Commandant already exists under `./Carthage/Checkouts/Commandant` in the `mas` repo.

So the files should be there, it's just that the build doesn't know where they are.

Are there build setup instructions for `mas`?

I didn't see any in the readme or contributing docs.

I'm used to the build system (Gradle, for my projects) automatically downloading listed dependencies and producin

[2021-01-15 14:51] lonelykid commented on #306
Try the build script maybe. https://github.com/mas-cli/mas/blob/master/script/build

[2021-01-15 15:22] andrewcrook commented on #306
Looks like you need Ruby with Bundler, Brew and Xcode

The, to me,  it looks like you to do the following first:

- use the brewfile - `brew Brewfile install`
- make init uses `swiftenv `to install the correct version of swift.
- then `make bootstrap` to install all the dependencies

Looks like you need to run  Brew on brewfile to install dependences  this includes mint a swift dependency manager

[2021-01-15 16:07] rgoldberg commented on #306
Is the Apple ecosystem so poor that Xcode cannot recognize standard build scripts & run without manual configuration?

Or is this project just an oddity?

If Xcode does recognize standard build scripts, but many projects don't use them, then that's still a failure of the Apple ecosystem.

[2021-01-15 16:47] andrewcrook commented on #306
Xcode has every thing to build products for Apple devices it uses project files and a majority of app developers just use Xcode.

There are also many developers who prefer using other tools with the Xcode command line tools.
Developers may like like to build custom dev/ environments , automated a host of other tasks, different versioning, different code management , target different platforms/arch

[2021-01-15 17:26] jasonjurotich commented on #308
Any news on this? mas-cli is still immediately killed on M1:

    `[1]    75981 killed     mas search Xcode`

[2021-01-16 02:07] rgoldberg commented on #306
I have a basic version of `mas outdated` working in Xcode debug.  It isn't working yet on the command line (I assume because of dylib selection issues), but I'll deal with this later (I haven't previously had to deal with dylib issues since I normally develop for the jvm, and I haven't ever used Xcode before).

A few questions: is different local & store version strings enough to consider an app o

[2021-01-16 02:24] lonelykid commented on #306
I think you need to mimic availableUpdates as much as you can. Not sure how it behaves since it's undocumented. Basically what outdated produces should be the same as what AppStore prompt you to update. I never encountered situations that app version is reverted in appstore. But it seems no harm to add. For removed app, a message would be good to have.

[2021-01-16 03:52] rgoldberg commented on #306
Are versions guaranteed to only contain digits & dots? If not, ordering can get tricky. e.g., the maven version ordering algorithm is massively broken. I don't want to create an ordering that differs from what the store / publishers use.

I would want to know about all version discrepancies between local & store, even if some would be considered reversions.

[2021-01-16 07:40] rgoldberg commented on #306
I found the `printWarning` & `printError` functions in `Utilities.swift`.

They seem to output to stdout.

It seems suboptimal for `mas outdated` to output warnings about not finding an app in the store to stdout along with normal output that indicates that an app has an available update.

But, it would make sense to use the same formatting for warnings & errors for this command.

Should all warni

[2021-01-17 10:56] rgoldberg commented on #306
I created a PR that fixes both `outdated` & `upgrade`.

It might be rough around the edges.

Please review & provide feedback.

I'll improve it as directed.

[2021-01-17 20:31] Sergong opened #313 "`uninstall` does not work on macOS 11.1+"
## Your Environment

- mas version: 1.7.1
- macOS version: 11.1

### mas Install Method

- `brew install mas` (homebrew-core)

## Describe the Bug

`mas uninstall [id]` complains it needs root permissions to uninstall but `sudo mas uninstall [id]` says the app is not installed.

## To Reproduce

Steps to reproduce the behavior:

1. Install an app; `mas install [id]`
2. Uninstall the app with `sudo

[2021-01-18 11:55] fabriceb commented on #308
I tried your solution, @chris-araman, and it is not enough, here is what I then get;

[code]

It seems we will also need to wait for Commandant.framework to release an arm64 version...

[2021-01-18 12:38] fabriceb commented on #308
OK I have found I also needed to remove all references to VALID_ARCH, the corresponding pull request is here: https://github.com/mas-cli/mas/pull/314

[2021-01-18 13:52] fabriceb commented on #308
Bad news, even though I rebuilt everything taking into account @chris-araman's work, as described in #314, the binary still crashes...

[2021-01-19 19:21] chris-araman commented on #308
Thanks for digging in @fabriceb. I worried my change wasn't sufficient.

[2021-01-23 05:24] brandondrew opened #315 "🐛 [DOCUMENTATION] Homebrew no longer installs mas"
## Your Environment

- `mas version`: N/A
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`):

[code]

### mas Install Method

- [X] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
   - Fork/branch: ? (e.g. mas-cli/master)
   - X

[2021-01-23 23:31] cho-m commented on #315
Homebrew does install `mas` on Intel Macs and via Rosetta 2 on M1 Macs.
There is a known issue #308 for ARM compilation which means `mas` cannot be installed natively on M1 yet.

You can check whether a package is natively supported by looking for `arm64_big_sur` inside Formula's bottles.

`mas` bottles currently do not include ARM:
https://github.com/Homebrew/homebrew-core/blob/1520434ebf31c50ee1

[2021-01-26 22:06] rgoldberg commented on #306
Is there anything that I must do to get my PR merged?

[2021-01-26 22:31] lonelykid commented on #306
It seems the repo owner is just not around. Contact @phatblat directly maybe

[2021-01-26 22:54] rgoldberg commented on #306
I hope they're Ok.

[2021-02-02 17:37] endlesslycurious commented on #313
I'm seeing the same issue on MAS 1.7.1 on macOS 11.2

[2021-02-05 18:55] rgoldberg commented on #306
@lonelykid Can any users besides @phatblat merge pull requests?

Does anyone know if @phatblat is OK? He seems to be MIA…

[2021-02-05 19:05] lonelykid commented on #306
I don't think other people has write access. He is certainly around. Just check his commit record on his github profile and twitter. So it's good that he is OK, maybe just lost interest in maintaining this project. Can you try send him a message on twitter?

[2021-02-05 21:18] rgoldberg commented on #306
I would assume that he gets notifications about mentions in github, so I don't want to rope in his Twitter if he's actively ignoring this project.

I guess he's just very busy.

[2021-02-13 00:58] #308 closed

[2021-02-13 00:59] phatblat commented on #308
Fix due out soon in mas 1.8

[2021-02-13 20:24] phatblat commented on #315
@brandondrew are you on an M1 Mac?

mas 1.8.0 is available from the package installer attached to the release. Homebrew update is one its way in Homebrew/homebrew-core#71054

[2021-02-13 20:45] phatblat commented on #311
@minuq the search command does an online request to the iTunes Search API and if there is a problem with the formatting of the JSON response it can cause this sort of error. Something probably changed in the data so I'm glad it's working now.

[2021-02-13 20:45] #311 closed

[2021-02-13 20:51] phatblat opened #317 "Add --debug option to show JSON responses"
**Is your feature request related to a problem? Please describe.**

Related to problems like #311 which can happen when the iTunes Search API returns unexpected JSON.

**Describe the solution you'd like**

I'd like a way to be able to print/dump the response JSON (and maybe HTTP headers) so that the data can be reviewed when errors occur.

**Describe alternatives you've considered**

Currently, th

[2021-02-15 10:03] andrewcrook commented on #306
@lonelykid  I read in another thread that @phatblat had to have surgery on his wrist(s) and is only just getting back into typing code again.  He has just released 1.8.0 which works on ARM64 (it used to just segfault), however, I am still having this original issue from way back as Intel Macs with Catalina (I now have Apple Silicon and Big Sur)  with the outdated and upgrade not working as expecte

[2021-02-16 00:56] brandondrew commented on #315
Yes.

[2021-02-16 13:25] andrewcrook commented on #317
+1

That would be useful.

[2021-02-18 22:44] brandondrew commented on #315
Updating documentation is quick and easy.  If the documentation is _currently_ saying something untrue, why would you not update it?  When the problem is fixed, you can change it back.  The purpose of the README is to have _current_ information, not information that _used to be_ correct and is _expected_ to one day become correct again.

Anyway, it is now working, so the point is no longer immedia

[2021-02-18 22:44] #315 closed

[2021-02-21 01:09] kabirbg commented on #313
Same as @endlesslycurious; at least for the second part it seems like MAS is engineered so that when run as root with sudo (or su) it would look for app store installations by the root user, which would (normally) be none, as opposed to when run with normal user privileges. And macOS probably doesn't allow uninstallation of an app without root password at all... interesting quandary, not sure how

[2021-02-23 07:03] ivanpesin opened #320 "Unable to install mas from brew on Mojave"
## Your Environment

[code]

### mas Install Method

[code]

## Describe the Bug

Unable to install mas on MacOS X Mojave (10.14.6) due to failing dependency on Xcode 11.4 which is not available for Mojave.

## To Reproduce

- run `brew install mas` on OS X Mojave

## Expected Behavior

mas gets installed

## Actual Behavior

Installation fails with error.

## Screenshots, Terminal Output

[code]

[2021-02-27 19:35] dbrookman opened #321 "Support iPadOS (iPad) & iOS (iPhone) apps"
# Notes

It appears that the data structure in `CKSoftwareMap` (from CommerceKit, a macOS private framework) that lists the apps installed from the Mac App Store (which is used by mas) doesn't include installed iOS or iPadOS apps.

Spotlight contains some info about installed iOS & iPadOS along with installed macOS apps, but it does not seem to include the ADAM IDs for iOS or iPadOS apps.

We can

[2021-02-28 13:55] rgoldberg opened #322 "🐛 [BUG] info command Released date output is system-config-dependent"
## Your Environment

- `mas version`:
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 10.1...

### mas Install Method

- [X] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
   - Fork/branch: ? (e.g. mas-cli/master)
   - Xcode

[2021-03-06 10:57] yap241986 opened #325 "how can I uninstall it"

[2021-03-06 10:58] yap241986 commented on #325
how con I uninstall it

[2021-03-07 13:23] flaxel commented on #325
You can use one of the following commands:

[code]

[2021-03-07 14:13] yap241986 commented on #325
I don't install with brew, I install whit mad.pkg

[2021-03-07 17:05] undergroundwires opened #326 "Allow running mas as portable or installing it"
Thanks for creating and maintaining awesome tool ❤️

I wonder if there's a way to download and run a separate version `mas` and then deleting it without affecting existing installation of `mas`. I'd appreciate any suggestions on how to do that or feedback about "potential feature requests" part of my issue.

**Goal**

I'd like to be able download a specific version of the tool and use it in an iso

[2021-03-14 22:42] #322 closed

[2021-03-14 23:04] #111 closed

[2021-03-15 01:33] phatblat commented on #111
Fixed now in [1.8.1](https://github.com/mas-cli/mas/releases/tag/v1.8.1)

[2021-03-15 01:34] phatblat commented on #245
Should be fixed now in [1.8.1](https://github.com/mas-cli/mas/releases/tag/v1.8.1). @csloz can you confirm?

[2021-03-15 01:34] phatblat commented on #248
Should be fixed now in [1.8.1](https://github.com/mas-cli/mas/releases/tag/v1.8.1). @nottoseethesun  can you confirm?

[2021-03-15 01:34] phatblat commented on #252
Should be fixed now in [1.8.1](https://github.com/mas-cli/mas/releases/tag/v1.8.1). @p-vernaeckt can you confirm?

[2021-03-15 01:35] phatblat commented on #282
Should be fixed now in [1.8.1](https://github.com/mas-cli/mas/releases/tag/v1.8.1). @eloyaldea can you confirm?

[2021-03-15 01:35] phatblat commented on #306
Should be fixed now in [1.8.1](https://github.com/mas-cli/mas/releases/tag/v1.8.1). @misc-activities can you confirm?

[2021-03-15 01:36] phatblat commented on #76
Should be fixed now in [1.8.1](https://github.com/mas-cli/mas/releases/tag/v1.8.1). @glyph can you confirm?

[2021-03-15 01:36] phatblat commented on #92
Should be fixed now in [1.8.1](https://github.com/mas-cli/mas/releases/tag/v1.8.1). @agersoncgps can you confirm?

[2021-03-15 01:37] phatblat commented on #247
Should be fixed now in [1.8.1](https://github.com/mas-cli/mas/releases/tag/v1.8.1). @matteocorti can you confirm?

[2021-03-15 01:37] phatblat commented on #249
Should be fixed now in [1.8.1](https://github.com/mas-cli/mas/releases/tag/v1.8.1). @GitHub85 can you confirm?

[2021-03-15 01:37] phatblat commented on #290
Should be fixed now in [1.8.1](https://github.com/mas-cli/mas/releases/tag/v1.8.1). @JimDabell can you confirm?

[2021-03-15 03:39] lonelykid commented on #306
@rgoldberg Hmmm. Seems like mas info sometimes does not give the newest version. Could you check your result of `mas info 1249901692`.

Another issue, if you run  the same `mas info xx` twice. The second time will incur an error but still produces the same output. This is not related but could you check if you have the same problem?
``
2021-03-14 23:37:53.169 mas[53764:1108974] INFO: fetch-respons

[2021-03-15 03:44] misc-activities commented on #306
I tested by installing from the .pkg file. I had to run `mas outdated` twice to see the updates. When I ran it the first time, it didn't show any updates. All available updates were shown correctly the second time I ran the command.

[2021-03-15 06:01] nottoseethesun commented on #248
I don't have macOS Catalina anymore, but I just checked in on Big Sur 11.2.2. and it works.  Thanks for fixing; we love `mas`!

[2021-03-15 06:55] p-vernaeckt commented on #252
It works here! Thanks!

[2021-03-15 07:16] glyph commented on #76
@phatblat I now see lots of apps that are missing, as well as a bunch of upgrades the app store is *not* offering me - such as this:

[code]

[2021-03-15 08:49] matteocorti commented on #247
Sorry the machine where I could reproduce the problem was replaced two weeks ago ...

[2021-03-15 17:00] rgoldberg commented on #306
@lonelykid Confirmed that `mas info 1249901692` seems to list an out-of-date version, as does `mas search ScanScan`, and possibly other commands.  I didn't change those commands, so that is an existing issue that should be created.

`mas info xx` twice didn't give me the error.  But `mas info` on specific IDs consistently gives me the error, like `mas info 409203825`.

The file doesn't exist, but

[2021-03-15 17:02] rgoldberg commented on #306
@misc-activities I don't have any outdated apps, so I cannot currently confirm.

Must you run it twice on every new terminal?  Every login?  Every reboot? Or just one extra time once, and all subsequent runs work across new terminals, logins, reboots, etc.?

[2021-03-15 17:43] maiertech commented on #252
It also works for me, except that I'm seeing a false positive update notification for DaisyDisk:

[code]

I verified that installed version is 4.12.1, but AppStore shows 4.12.

[2021-03-15 18:08] ZepDonald commented on #252
First of all, I'm glad, mas-cli is still under active development, hurray! 🎉

Second, I have exactly the same problem as @maiertech, but with more apps.

After entering `mas outdated` I get the following output:

[code]

I ran `mas upgrade` wich seems to work fine:

[code]

But `mas outdated` still gives me the aforementioned output.

And some apps can't even be found. While for some there is no S

[2021-03-15 18:09] Luminus commented on #306
I've just updated to 1.8.1 and everything seems to work fine for me now.

- `mas outdated` listed my outdated apps
- `mas upgrade` upgraded all of them
- I ran `mas info` on the same app 3 times with no errors
- `mas info 1249901692` does list ScanScan version 3.1.1 instead of 3.1.3 that's shown in the App Store app. I'm not sure what the deal is with that, but I've never used this app would have

[2021-03-15 18:24] lonelykid commented on #306
what`mas info 1249901692` listed in a not only outdated, but also deleted version. I remember something similar happened in the discussion of PR 46ebd7c9e4efa6a37b806986764b60a57f0b568c. It seems mas info will have trouble when the author revoked a version and then published newer version.

[2021-03-15 18:37] Luminus commented on #306
@lonelykid `mas info 409203825` runs without errors for me. I've just run it 6 times now to test and I can't report any issues.

`mas info 1462114288` returns `Grammarly for Safari 9.29` for me.

Are you running Big Sur? I'm wondering if there could be an OS version issue compounding things on your end.

The situation with `mas info 1249901692` is still a complete mystery to me, though.

[2021-03-15 18:40] lonelykid commented on #306
@Luminus I'm using Big Sur 11.2.3. What's your os version?

[2021-03-15 18:42] Luminus commented on #306
@lonelykid Big Sur 11.2.2. I'm about to run the update to 11.2.3 now.

[2021-03-15 18:52] misc-activities commented on #306
@rgoldberg It's just one extra time once.

[2021-03-15 18:59] lonelykid commented on #306
@Luminus That's strange. I don't think it's bug introduced by new macos version. but good luck.

@rgoldberg Could you try `mas info 422293948`? This never give me the error because somehow mas does not write cache file at all for this app. This seems to be a cache issue. After one run, the cache file is added `.tmp` extension. the next time mas will report error and write correct cache file. and t

[2021-03-15 19:31] rgoldberg commented on #252
I implemented both commands to consider any version mismatch to be outdated. If some versions have version numbers with more than digits & dots, then version ordering can get tricky. e.g., Maven's version ordering is buggy, non-exhaustive, and poorly orders some weird versions.

@ZepDonald It's odd that mas reports that the store versions of so many of your apps are at versions that are older than

[2021-03-15 19:42] rgoldberg commented on #306
I'll try everything people need me to try later today.

I think we should probably open 2 (or more) new issues and have the discussions in the relevant issue, however, instead of continuing here, since they seem to be existing issues with common code that was originally used by `info` & `search` (& possibly other commands). `outdated` & `upgrade` now use that same common code instead of relying on

[2021-03-15 21:44] maiertech commented on #252
This might be some bug with the AppStore. For DaisyDisk, the AppStore shows version 4.12:

<img width="929" alt="Screen Shot 2021-03-15 at 5 37 23 PM" src="https://user-images.githubusercontent.com/1482402/111224794-4cdc1a80-85b5-11eb-9503-f148e512051c.png">

`mas search DaisyDisk` returns

[code]

When I remove DaisyDisk and install with `mas` or directly from the AppStore, I get version 4.12.1:

[2021-03-16 13:03] pro-sumer commented on #290
I still get incorrect information with 1.8.1:

[code]

[2021-03-16 16:43] JimDabell commented on #290
I still see incorrect information. When I open the Mac App Store, I see three applications that need updating. When I run `mas outdated`, four applications are listed. The additional one is:

`405399194 Kindle (1.30.0 -> 1.30)`

When I visit the Mac App Store page for that application, it shows that 1.30 is the latest version, released four months ago, and that I have it installed. When I run `mas

[2021-03-16 18:08] pro-sumer commented on #290
Looks like the version number on the right side of the arrow is of the iOS App instead of the macOS App?

[2021-03-17 00:44] bevanjkay commented on #306
I'm not sure if this is relevant to MAS or an App Store issue, but I have an up to date app showing for the mas outdated command with a version number formatting difference.

[code]

I have tried updating through mas but it is still showing up as outdated.

[code]

The installed app shows as version 17.1.0 in the 'get info' window.

[2021-03-17 01:28] lonelykid opened #328 "🐛 [BUG] Cache error in mas info/outdated"
## Your Environment

- `mas version`:1.8.1
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 11.2.3

### mas Install Method

- [x] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
   - Fork/branch: ? (e.g. mas-cli/master)
   - X

[2021-03-17 01:36] duhd1993 opened #329 "`info` sometimes does not show correct newest version"
## Your Environment

- `mas version`: 1.8.1
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 11.2.3

### mas Install Method

`brew install mas` (homebrew-core)

## Describe the Bug

For some apps,`mas info` does not show the correct newest version.

## To Reproduce

1. `mas info 1249901692` shows version 3.1.1. But on appstore webpage, you can find the newest version to be

[2021-03-17 09:18] eloyaldea commented on #282
I installed 1.8.1. First I checked the App Store for new updates, there was one. I go to `mas outdated`  and it recognizes the new version, `mas upgrade` tells me it's updating said app like so:

1228738830 NetWorker Lite (5.0.6 -> 5.0.7)

Upgrading 1 outdated application:
NetWorker Lite (5.0.6)
==> Downloading NetWorker Lite
==> Installed NetWorker Lite

Running again `mas outdated` shows nothing

[2021-03-17 12:15] andrewcrook opened #330 "Confuses macOS & iOS/iPadOS apps"
## Your Environment

- `mas version`: 1.8.1
- macOS version
  System Version: macOS 11.2.3 (20D91)
  Kernel Version: Darwin 20.3.0

### mas Install Method

`.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)

## Describe the Bug

I installed 1.8.1 and have simular issue as others.

### **mas outdated**

[code]

### **None of these show as updates in App Store and Macupdater p

[2021-03-17 12:47] lonelykid commented on #330
Duplicate of https://github.com/mas-cli/mas/issues/329

It's better to discuss at one place. This is the limitation of this API provided by Apple.

[2021-03-17 12:54] pro-sumer commented on #329
Maybe same as [this](https://github.com/mas-cli/mas/issues/290#issuecomment-800491220)?

(iOS versions being used as "new" versions for macOS Apps...)

[2021-03-17 13:11] lonelykid commented on #329
@pro-sumer It seems to be. I will close this issue in favor of https://github.com/mas-cli/mas/issues/290. But it's not just this. `mas info 571213070` shows DaVinci Resolve 17.1 [0.0], which is the same as what's displayed in AppStore. But the installed version shows 17.1.0. https://github.com/mas-cli/mas/issues/306#issuecomment-800709220

[2021-03-17 13:16] lonelykid commented on #290
@pro-sumer I can confirm `mas info 1249901692` shows the IOS version of ScanScan. I believe some other Apps are also in this situation. `mas info 571213070` DaVinci Resolve 17.1 is a little different. The version fetched is the same as in AppStore, but the version installed seems to be 17.1.0. I would suggest
1. Using `https://apps.apple.com/app/id1249901692` HTML to get the version number.
2. Onl

[2021-03-17 13:27] andrewcrook commented on #290
I think this one can be fixed using hack to get around it. Because they are basically the same version.

[2021-03-17 13:32] andrewcrook commented on #330
also see #290

[2021-03-18 10:45] ZepDonald commented on #252
Sorry for the late response.

@rgoldberg I will try my best! 😊

For the wrong versions, I tried with just a few of the apps, as all results are pretty much the same and I can confirm the statement from @maiertech.

**E.g. Search Key**

[code]

According to the App Store, the version is also 1.8.
In Finder, the App has version 1.8.0.

**Another example: Endel**

[code]

App Store: 2.3.2
Finder: 2.3

[2021-03-19 09:48] ondrejfuhrer commented on #306
I have a similar issue to one posted by @Luminus

[code]

Even though I'm running the updated version, `was outdated` still states the old version 🙁

[2021-03-19 15:12] lonelykid commented on #306
This seems a different issue. Yours didn't show incorrect installed version, but others' show incorrect new version. Did you upgrade the app outside AppStore? If so, try reinstalling it.

[2021-03-19 15:22] ondrejfuhrer commented on #306
Ah, I haven't realised that. I upgraded the app through `mas upgrade`. Will that make it inconsistent?

[2021-03-19 16:03] andrewcrook commented on #306
I believe there is a way to tell if an application came from the App Store or not via the apps code signature
mas should all have this feature? if it doesn't keep checking that an app is from the App Store it should do because it is so easy to install a version outside the store over the same app from the App Store and vice versa.

[2021-03-19 16:33] ondrejfuhrer commented on #306
Ah, maybe I also misunderstood the question asked earlier, so just to clarify this as well - that app I installed and always updated though AppStore before. Just last time I upgraded it I used / tested `mas upgrade` for it.

[2021-03-19 17:00] brandonkal commented on #290
Along these same lines, it lists apps that require Big Sur when running Catalina.

[2021-03-20 14:17] sjml opened #331 "🐛 [BUG] Messenger reports "upgrade" to lower version; always appears outdated"
## Your Environment

- `mas version`: 1.8.1
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 10.15.7

### mas Install Method

- ☑️ `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
   - Fork/branch: ? (e.g. mas-cli/master)
   -

[2021-03-20 14:50] captcarl13 commented on #306
Also having similar issue after running `mas outdated`. macOS 11.2.3 (20D91):

`Warning: Identifier 490152466 not found in store. Was expected to identify iBooks Author.
Warning: Identifier 1175706108 not found in store. Was expected to identify Geekbench 4.
897118787 Shazam (2.10.0 -> 2.10)
1509611686 Spaces (11.4 -> 8.3)
Warning: Identifier 1148868081 not found in store. Was expected to identify

[2021-03-20 15:24] phatblat commented on #328
Thanks for the bug report!

[2021-03-20 15:25] phatblat commented on #321
The is a great idea for a new feature. I had to send my DTK back, but while I had it I only installed iOS app through Xcode. Can you install them from the Mac App Store?

[2021-03-20 23:40] todo[bot] opened #333 "Add support for arm64_big_sur"
https://github.com/mas-cli/mas/blob/742fda043c57a7dd48a1a8a24d168b10f9f7a6df/script/bottle#L23-L28

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 742fda043c57a7dd48a1a8a24d168b10f9f7a6df when #332 was merged. cc @mas-cli.

[2021-03-21 01:23] chris-araman commented on #331
The bundle version does not match the App Store version.
[code]

This seems to be a regression from https://github.com/mas-cli/mas/pull/312.

[2021-03-21 15:24] dbrookman commented on #321
Yeah, you install them from the mac App Store.
When you search you're presented with the option to see iOS apps that you can install.
<img width="221" alt="Screen Shot 2021-03-21 at 11 22 57 AM" src="https://user-images.githubusercontent.com/53625739/111910452-cbaed880-8a37-11eb-8717-0b46009cbb71.png">

[2021-03-21 16:55] GentleHoneyLover commented on #331
Exactly the same issue here.

macOS version 11.2.3 (20D21)
mas version 1.8.1

`% mas outdated
1477857867 DevSwatch (1.3 -> 1.1)
1510445899 Meeter (1.9.3 -> 1.1.3)`

Both of these apps are already at their latest versions. But mas keeps upgrading them.

[2021-03-21 19:01] phatblat commented on #321
One thing that will need to change to support this is to change how the search and lookup commands work. Today they use the iTunes search web API and that has a filter for only macOS. Once we know the app identifier it may "just work".

One thing you could try is to copy the URL for an iOS app from the store and look for the numeric identifier at the end (drop any characters). Then try `mas instal

[2021-03-22 03:13] lonelykid commented on #331
There have been several related issues. https://github.com/mas-cli/mas/issues/290
Your problem seems a little different. `mas info` and `mas outdated` reported v92.0. appstore also shows v92.0 But the version installed is 95.7.118. https://github.com/mas-cli/mas/pull/312 didn't do anything wrong here. It's appstore.

[2021-03-22 07:49] sjml commented on #331
I wonder if mas should be reporting "outdated" if the installed version is **higher** than the reported version from the App Store. Understanding that there's not much that can be done on the tool side to make sure the App Store metadata matches the app's plist, maybe it could at least assume that version numbers increase over time rather than decrease.

[2021-03-23 03:01] dbrookman commented on #321
You're right, you can get the ID from the App Store website URL.
I specifically tried [Desert Golfing](https://apps.apple.com/us/app/desert-golfing/id902062673) (ID: 902062673)

`mas info 902062673` works, returning:
[code]

`mas install 902062673` brings up the following dialog:
<img width="372" alt="Screen Shot 2021-03-22 at 10 55 41 PM" src="https://user-images.githubusercontent.com/53625739/11

[2021-03-23 08:42] emilazy opened #335 "`outdated` & `upgrade` get stuck downgrading macOS app"
## Your Environment

- `mas version`: 1.8.1
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 11.2.3

### mas Install Method

`brew install mas` (homebrew-core)

## Describe the Bug

`mas` wants to constantly update an app that isn’t out of date.

## To Reproduce

Install DaisyDisk and try `mas upgrade`/`mas outdated`. It’s possible this is related to some quirk of my envir

[2021-03-23 18:43] rgoldberg opened #336 "Confuses macOS and iOS/iPadOS apps"
## Your Environment

- `mas version`: 1.8.1
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 11.2.3 (20D91)

### mas Install Method

`brew install mas` (homebrew-core)

## Describe the Bug

This is probably a problem with Apple's store APIs, not with mas.

Apple released Pages, Numbers & Keynote 11.0 on 2021-03-22.

mas commands list the current store version of each of th

[2021-03-23 18:56] nottoseethesun commented on #248
@phatblat Please see my comment directly above.

[2021-03-25 07:32] cristobalfuenzalida opened #337 "INFO: fetch-response is unable to open the file"
Some mas-cli commands like `mas account` and `mas list`are working fine. But when I try to run `mas outdated` or `mas upgrade` I get the following error:
[code]
I would have to wait until one of my apps gets an update to check whether `mas upgrade` is actually working.
As recommended, I ran `mas reset` several times after restarting my machine and logging out and back into the App Store. Nothing w

[2021-03-25 22:33] haakonstorm commented on #336
<img width="585" alt="Screenshot of iTerm2 (25-03-2021, 23-33-26)" src="https://user-images.githubusercontent.com/193781/112552083-81748100-8dc2-11eb-9c5f-21e81c407509.png">

[code]

[2021-03-25 22:47] haakonstorm commented on #336
Investigating, for app `Copied` (MAS id #1026349850) it is reported installed version is `v4.0.1` and latest is `v4.0.4`.
Upgrading, app is "upgraded" but stays on same version.
Checking the iOS/iPadOS counterpart, "Copied Touch", this is in fact on `v4.0.4`.
I'm running Big Sur on arm64, where MAS is capable of fetching iOS/iPadOS releases.
Appears `mas-cli` conflate releases somehow.

The strang

[2021-03-28 21:11] phatblat opened #340 "Stop tracking and ignore Carthage dir"
Splitting out from #334

[2021-03-29 00:31] chris-araman commented on #340
@phatblat, I can pick this up if you haven't started on it yet.

[2021-03-29 01:14] phatblat commented on #340
Go for it 👍🏻

[2021-03-29 01:22] chris-araman commented on #340
It sounds like `--use-submodules` is only worth the extra tracking if we intend to modify the dependencies in-place and push changes upstream. I don't know that that's likely, so I'll opt for the `.gitignore` solution instead.

[2021-03-29 01:33] phatblat commented on #340
Yeah, pinning to a fork of a dependency is not ideal. I prefer to work with the maintainers and get fixes & features into the mainline.

[2021-03-29 01:51] #340 closed

[2021-03-29 02:15] phatblat commented on #336
This is great info @haakonstorm! I thought that mas only searched for macOS apps, but I may be remembering how search, lookup and info work. I wonder if this is an issue that affects "universal" apps which I believe can have a different version per platform.

[2021-03-29 02:19] phatblat commented on #335
Thanks for the bug report! We've seen a lot of inconsistencies with versions since these commands were restored in 1.8.0. I get the same message about DaisyDisk.

[2021-03-29 02:36] phatblat commented on #337
Thanks for the bug report! I haven't seen this before but am able to reproduce it intermittently.

[code]

I'm on macOS 11.2.3 (20D91) as well.

[2021-03-30 04:26] #333 closed

[2021-03-30 09:50] haakonstorm commented on #336
Is it possible to use `mas-cli` in "raw" form somehow with JSON to talk to the API?
I could see if I could help debug this.
(Unrelated: I originally came here to find a way to list all MAS apps: (id, name, description) in the same way `homebrew` does, preferably also with JSON output; is this possible?)

[2021-03-31 13:06] philsherry commented on #313
Works with `sudo -s` if that helps anyone, but things end up in root's trash:

[2021-03-31 13:54] philsherry opened #344 "♻️ mas should retry a download if it fails due to a network timeout"
## Your Environment

- `mas version`: 1.8.1
- `Homebrew`: 3.0.10
- `Homebrew/homebrew-core` (git revision 72894f32b1; last commit 2021-03-31)
- `Homebrew/homebrew-cask` (git revision 4363b2e34d; last commit 2021-03-31)
- macOS version: 10.15.7 (19H524)

### `mas` Install Method

- [x] `brew install mas` (homebrew-core)
- [ ] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [ ] `.pkg` insta

[2021-04-03 14:08] alexbarton commented on #331
I’m seeing this as well – but only `mas` shows those apps as _outdated_ and tries to „upgrade“ it over and over again; not the App Store application itself. So the App Store app uses an different logic to detect „outdated“ apps?

[code]

[2021-04-06 17:19] EmilVarona commented on #337
I got this same error today for the first time. FWIW, I reinstalled mas using brew and still got the error. And I am also running Mac OS 11.2.3.

`coltrane:~$ mas outdated
2021-04-06 12:13:52.872 mas[58928:3102904] INFO: fetch-response is unable to open the file /Users/$USER/Library/Caches/com.mphys.mas-cli/fsCachedData/161D2E83-...E8C0E2E45236. Errno: 2
coltrane:~$ mas upgrade
2021-04-06 12:16:08

[2021-04-07 17:39] RickyRomero commented on #331
[code]

I have a universal app on the App Store which has different versions available on iOS and macOS. Both versions share a bundle ID - `com.rickyromero.shutup` but are currently based on different source trees. The latest macOS version is 3.1, and the latest iOS version is 1.10.

Perhaps this explains the strange behavior?

[2021-04-11 18:07] bumpux commented on #337
Same error here. No sign so far that it is interfering with mas-cli.

[2021-04-11 18:16] toonetown commented on #337
I think it actually _is_ interfering with the mas-cli...particularly the `outdated` command.  There are many reports of the `outdated` command not showing correct information (or listing old versions as the "update" to new versions, etc).  These problems started occurring at the same time for me (and might be related to upgrading to Big Sur 11.2).

For example, if I open the failed which it stats

[2021-04-14 21:27] dynamicworkplace commented on #337
Im occasionally getting the "INFO: fetch-response is unable to open the file" error, and upgrade-apps is repeatedly downloading and installing the same apps (although it reports they are installed successfully each time). I've tried a `mas reset` and have uninstalled and reinstall mas using brew.

[2021-04-15 00:10] chris-araman commented on #320
@ivanpesin, please find instructions for installing on macOS 10.11 through 10.14 [here](https://github.com/mas-cli/mas/blob/master/README.md#%EF%B8%8F-older-macos-versions).

[2021-04-15 00:10] #320 closed

[2021-04-15 00:13] chris-araman commented on #305
@DolphinFlopFish, mas-cli currently requires macOS 10.11. If you or anybody else would like to implement support for older macOS releases, please consider opening a pull request.

[2021-04-15 00:47] #328 closed

[2021-04-15 00:48] chris-araman commented on #337
This should be fixed in #345 and is expected to be included in the next release.

[2021-04-15 00:48] #337 closed

[2021-04-15 00:48] chris-araman commented on #328
This should be fixed in #345 and is expected to be included in the next release.

[2021-04-15 00:50] chris-araman commented on #306
The `fetch-response` issue mentioned above and also reported as #328 and #337 should be fixed in #345 and is expected to be included in the next release.

[2021-04-15 01:06] chris-araman commented on #344
@philsherry, is your work Mac configured to use any proxies? _System Preferences, Network, Advanced..., Proxies_ Do you see the same issue when no proxy is configured?

Does it run any particular antimalware, antivirus, or firewall software that may be intercepting network requests? Do you see the same issue when this software is disabled or removed (if possible)?

Does it connect to a VPN? Do you

[2021-04-15 01:16] chris-araman commented on #289
I can reproduce this on macOS 11.2.3 on an M1 MacBookPro.

[2021-04-16 11:05] DolphinFlopFish commented on #305
don't worry i just got the package i was looking for on archive.org

[2021-04-16 15:31] #305 closed

[2021-04-16 21:06] chris-araman commented on #306
Actually, I think my fix to stop caching search results might have resolved this issue around `outdated`.

[code]

Obviously, the mismatch between Messenger's bundle version and App Store version is still a problem (and is tracked in #331). However, the Remote Desktop update is correctly reported by the version of `mas` with #345. @phatblat, I think it might be worth releasing this as 1.8.2 even i

[2021-04-17 01:08] chris-araman commented on #282
The `fetch-response` issue has been addressed with #345 and is expected to be included in the next release. #345 _may_ have also addressed the inconsistency between the App Store app and `mas outdated`.

@eloyaldea, when you press Cmd+R in the App Store app (or select "Reload Page" from the Store menu) in this scenario does it still show the available update?

[2021-04-19 15:32] eloyaldea commented on #282
Should I try again what I did or wait until the next release?

[2021-04-19 16:11] chris-araman commented on #282
I think the issues reported in this thread should be addressed by #345 and #346.

Please try again after 1.8.2 or later is released.

[2021-04-23 18:13] pointlessone commented on #164
Is there a way to check whether the user is currently signed in?

[2021-04-26 16:07] bradtheappguy opened #347 "Documentation: README has a broken link to softwareupdate(8) man page"
It seems that apple is no longer hosting the Darwin man pages on developer.apple.com.  These is some discussion about it here: https://stackoverflow.com/questions/53220058/darwin-reference-manual-pages-missing.

The readme file has a broken link to apple's old archive.  The link should probably either be removed or pointed to one of the several third-party sites hosting these man pages.

[2021-04-27 03:27] phatblat commented on #164
@pointlessone use `mas account` to check login status

[2021-04-27 04:03] #347 closed

[2021-04-27 04:27] chris-araman commented on #335
This should be resolved by #346.

[2021-04-27 04:27] #335 closed

[2021-04-27 04:44] chris-araman commented on #252
The issues around discrepancies between `outdated` and `upgrade` should be resolved by #346.

The issue with MoneyMoney has to do with the app only being available in Germany. We don't currently pass `country` to the App Store search API. That work is tracked by #75.

[2021-04-27 04:44] #252 closed

[2021-04-27 04:47] chris-araman commented on #290
The remaining discrepancies in `outdated` should be resolved by #346.

@brandonkal, would you be able to open a new issue with details on this?

[2021-04-27 04:47] #290 closed

[2021-04-27 04:47] chris-araman commented on #330
The remaining discrepancies in `outdated` should be resolved by #346.

[2021-04-27 04:47] #330 closed

[2021-04-27 04:51] chris-araman commented on #331
The issue with `Messenger` for macOS should be resolved by #346. The absence of iOS apps is tracked in #321.

@RickyRomero, would you be willing to open a new issue with details on this?

[2021-04-27 04:51] #331 closed

[2021-04-27 05:06] emilazy commented on #335
Thank you very much for fixing this! I just built e51366ce90a97544db0106347fd661ff88041b22 and can confirm that `mas outdated` is now correctly empty for me. Looking forward to seeing a release with #346 in it!

[2021-04-27 05:11] chris-araman commented on #95
Likely related to #128 and #89.

[2021-04-27 05:12] chris-araman commented on #92
Additional discrepancies in `outdated` resolved in #346.

[2021-04-27 05:12] #92 closed

[2021-04-27 05:13] chris-araman commented on #245
Additional discrepancies in `outdated` should be resolved in #346.

[2021-04-27 05:15] chris-araman commented on #249
Additional discrepancies in `outdated` should be resolved in #346.

[2021-04-27 05:17] csloz commented on #245
Can confirm that this resolved the issue.

[2021-04-27 05:18] chris-araman commented on #259
Looks like this was resolved with https://github.com/mas-cli/mas/commit/7e3c03b43d3daf2e44664f343f77e1edaf5c58ab#diff-c28d89b8f0ee86b84e2ea6653986e5a5ae04a22d3a603936351d5ccdb275ef18R17.

@phatblat, can this be closed?

[2021-04-27 05:24] chris-araman commented on #306
The remaining discrepancies from `outdated` should be resolved by #346. If folks who were seeing these issues could try the upcoming release and report back any new issues, I'd appreciate it.

[2021-04-27 05:24] #306 closed

[2021-04-27 05:32] chris-araman commented on #336
The issues with `outdated` should out-of-date information for macOS apps should be resolved with #345 and #346.

Let's use this issue to track the confusion `mas` experiences between macOS, iOS, and iPadOS apps on M1 Macs, where all are "available for purchase".

[2021-04-27 05:45] chris-araman commented on #325
@yap241986, where did you install `mad.pkg` from?

Many apps installed as .pkg files can be uninstalled by moving the installed application from `/Applications` to the Trash.

[2021-04-27 05:48] #248 closed

[2021-04-27 05:50] chris-araman commented on #259
It looks like this was resolved [here](https://github.com/mas-cli/mas/commit/7e3c03b43d3daf2e44664f343f77e1edaf5c58ab#diff-c28d89b8f0ee86b84e2ea6653986e5a5ae04a22d3a603936351d5ccdb275ef18R17).

@phatblat, can this be closed? If not, how do I reproduce this issue?

[2021-04-27 05:52] chris-araman commented on #347
Thanks for reporting this, @bradtheappguy!

[2021-04-27 15:26] haakonstorm commented on #336
Great work!
Going to test now.
update: Small snafu: first call to `mas list` comes up empty. Subsequent calls succeed:

<img width="787" alt="Screenshot of iTerm2 (27-04-2021, 17-25-37)" src="https://user-images.githubusercontent.com/193781/116268533-b25b2380-a77d-11eb-8b9e-fd3df8dbcfb4.png">

[2021-04-27 17:05] haakonstorm commented on #336
### Just updated to `macOS 11.3` ([you should too](https://objective-see.com/blog/blog_0x64.html)!)

### Zero outdated via `App Store.app`

<img width="831" alt="Screenshot of App Store (27-04-2021, 17-27-52)" src="https://user-images.githubusercontent.com/193781/116272068-e1bf5f80-a780-11eb-9d24-18ab021eea3a.png">

### `mas` finds outdated apps and errors on `Copied.app`
<img width="801" alt="Scr

[2021-04-27 17:15] haakonstorm commented on #336
## Searching for `Gifox` in MAS, isn't found?

<img width="861" alt="Screenshot of App Store (27-04-2021, 19-08-12)" src="https://user-images.githubusercontent.com/193781/116283223-ec332680-a78b-11eb-9a97-6afefe14e2ee.png">

Neither macOS or iPadOS/iOS version appears.
Clicking the MAS "story" yields "Gifox 2" and a product page is found.

Searching for "Copied" in MAS yields another "story" page,

[2021-04-27 21:18] chris-araman commented on #326
#350, if accepted, might move `mas` in the direction of a single portable binary. There are some questions left to answer before that's resolved, but it seems feasible.

[2021-04-27 22:03] chris-araman commented on #309
We could filter the list of "installed" apps to those under `/Applications/`. Do people expect `mas list` to show apps outside of that path?

[2021-04-27 22:07] chris-araman commented on #250
This seems related to https://github.com/mas-cli/mas/issues/309#issuecomment-827966033.

[2021-04-27 22:09] chris-araman commented on #76
@glyph, are you able to build `mas` from `master`? Recent PRs #345 and #346 should address the remaining discrepancies from `outdated`.

[2021-04-27 22:18] chris-araman commented on #336
@haakonstorm, I wonder whether these apps may have been removed from the App Store, or may have been removed from sale in the region of your Apple ID. If available for iOS or iPadOS, might they have been initially installed as an iOS/iPadOS app but later marked by the developer as not discoverable on macOS?

[2021-04-27 23:48] haakonstorm commented on #336
Can you try manually searching for `Gifox` in App Store.app,
then try `mas search gifox` and `mas open 1461845568` please?

<img width="335" alt="Screenshot of iTerm2 (28-04-2021, 01-47-33)" src="https://user-images.githubusercontent.com/193781/116326033-d04b7700-a7c3-11eb-930b-e0971cd37a44.png">

[2021-04-27 23:52] haakonstorm commented on #336
Here, `mas` provides more features than `MAS.app` because MAS actually do not provide all results.

I will also do some more digging, as some of these can also happen to be installed via `brew install --cask`, hence the apparent "downgrades" as seen above, when parsed through `mas-cli`.

[2021-04-27 23:53] haakonstorm commented on #336
Btw JSON output from `mas-cli` (raw, or something) would be super nice!

[2021-04-28 01:53] phatblat commented on #336
@haakonstorm JSON output was proposed in mas-cli/mas#190. I have it tentatively slated for a future 2.0 release.

[2021-04-28 02:16] phatblat opened #351 "🐛 [BUG] Warnings are written to stdout"
## Your Environment

- `mas version`: 1.8.1
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 11.3

### mas Install Method

- [x] `brew install mas` (homebrew-core)
- [x] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [x] Built from source
   - Fork/branch: ? (e.g. mas-cli/master)
   -

[2021-04-29 05:25] chris-araman commented on #325
@yap241986, if you installed with `mas.pkg`, you can uninstall with:
[code]

[2021-04-29 05:25] #325 closed

[2021-04-29 06:01] glyph commented on #76
@chris-araman Sorry, I don't really have a dev environment set up for `mas`. Is there a quick one-liner to get this with homebrew?

[2021-04-29 06:25] chris-araman commented on #76
@glyph Not trivially, AFAIK. Please just try the next release and let us know.

[2021-04-29 06:26] #76 closed

[2021-04-29 06:27] glyph commented on #76
Sure, happy to try it when it's out.

[2021-04-29 16:08] chris-araman commented on #326
Both options should be adddressed by #350.

[2021-04-29 16:13] chris-araman commented on #344
We might be able to wire up some retry logic here, in case of an unreliable network. I suspect the App Store app does something similar. We'd want to be sure that we only retry in case of a small set of specific errors. Many types of errors along this path mean retrying won't help.

[2021-04-30 19:06] antifuchs commented on #336
A similar thing happens with `DaisyDisk` ([411643860](https://apps.apple.com/us/app/daisydisk/id411643860?mt=12&uo=4)) and `1Blocker` ([1365531024](https://apps.apple.com/us/app/1blocker-ad-blocker-privacy/id1365531024?uo=4)) on an M1 mac too: both are continuously listed as outdated, but the mac app store pages for both list the version that's installed. For 1Blocker, I'm pretty sure it's the iOS

[2021-04-30 19:38] chris-araman commented on #336
Thanks for the additional information, @antifuchs!

The scenario you describe with DaisyDisk should be addressed by #346. We'll keep using this issue (#336) to track the scenario with the 1Block, which I agree seems to be due to confusion in `mas` between iOS and macOS apps.

[2021-05-03 07:19] #326 closed

[2021-05-04 03:14] phatblat opened #357 "Document release process"
First step in automation is to know the steps to perform.

[2021-05-06 03:35] jaklan commented on #331
@chris-araman where can we expect the release incl. that fix? Or maybe any pre-release?

[2021-05-06 05:24] chris-araman commented on #331
@jaklan, I'm not sure what @phatblat has in mind. AFAIK, the [migration](https://github.com/mas-cli/homebrew-tap/issues/19) from Bintray to GitHub Packages might be the only thing blocking release, but I think that only blocks release to the [Homebrew tap](https://github.com/mas-cli/homebrew-tap) for macOS 10.11 through 10.14.

@phatblat, would it be possible to get a release out sooner, without w

[2021-05-07 02:53] phatblat commented on #357
Started documenting this on the [mas wiki](https://github.com/mas-cli/mas/wiki/Release-Process)

[2021-05-07 02:57] phatblat commented on #331
The homebrew formula update is the first tricky part. The last couple releases I've tagged and somebody started updating the formula before I could get to it. That's fine when only a version bump is needed, but we changed the formula a bit with the removal of carthage.

I'll start rolling out 1.8.2 now.

[2021-05-07 03:39] phatblat opened #363 "🍺 Issue building has package inside Homebrew's sandbox environment"
## Your Environment

- `mas version`:
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 10.1...

### mas Install Method

- [] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [x] Built from source
  - Fork/branch: ? (e.g. mas-cli/master)
  - Xcode v

[2021-05-07 03:46] phatblat commented on #331
The [1.8.2 release](https://github.com/mas-cli/mas/releases/tag/v1.8.2) is up and has a .pkg installer attached. Homebrew is going to take a little longer as I hit a snag updating the formula #363

[2021-05-07 03:47] chris-araman commented on #331
Thanks, @phatblat!

[2021-05-07 03:51] chris-araman commented on #363
Does adding `--disable-sandbox` to `swift build` in `script/build` help?

[2021-05-07 03:56] phatblat commented on #363
Yeah, that's what's causing the errors. I'll give it a try.

This gets rid of the manifest cache warning:

[code]

[2021-05-07 04:07] phatblat commented on #363
Looks like both of these flag fix the issue

[code]

[2021-05-07 04:29] phatblat opened #364 "⬆️ Upgrade swift-format to 0.50400.0"
Getting errors running `swift-format` on a box with only Xcode 12.5 installed.

[code]

Looks like [0.50400.0](https://github.com/apple/swift-format/releases/tag/0.50400.0) is out which adds support for Swift 5.4. However, the Homebrew [swift-format formula update](https://github.com/Homebrew/homebrew-core/pull/76206) is pending Xcode 12.5 on the brew CI servers.

[2021-05-07 04:35] chris-araman commented on #364
This is blocked on https://github.com/Homebrew/homebrew-core/pull/76206.

[2021-05-08 00:00] Stanzilla opened #366 "`outdated`: fetch-response is unable to open the file"
## Your Environment

- `mas version`: 1.8.1
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 11.3.1

### mas Install Method

- [x] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
  - Fork/branch: ? (e.g. mas-cli/master)
  - Xc

[2021-05-08 00:54] chris-araman commented on #366
This is #337.

[2021-05-08 00:54] #366 closed

[2021-05-08 01:18] chris-araman opened #368 "Rename master branch to main"
* https://github.com/github/renaming
* [The default branch for newly-created repositories is now main - GitHub Changelog](https://github.blog/changelog/2020-10-01-the-default-branch-for-newly-created-repositories-is-now-main/)
* [Support for renaming an existing branch - GitHub Changelog](https://github.blog/changelog/2021-01-19-support-for-renaming-an-existing-branch/)
* [Renaming a branch - GitH

[2021-05-08 04:08] phatblat commented on #366
This should be fixed in 1.8.2. We are working out some issues with updating Homebrew, but you can install the new version using the .pkg installer on the releases page.

[2021-05-08 04:23] phatblat commented on #368
Done. Great idea! I promoted you to admin so that you can do things like this.

[2021-05-08 04:41] #363 closed

[2021-05-08 05:15] phatblat opened #369 "🚀 Release Action"
## Steps

1. Build
1. Test
1. Package
1. Upload macOS package to GitHub release

### Homebrew

1. Update tag and revision in formula
1. Copy new formula to homebrew-core repo (use mas-cli fork)
1. Build brew core formula from source
   - prevent or redirect install to build dir?
1. Test
1. Lint
1. Open PR to homebrew-core repo
   - title: mas <version>

### Custom Tap

1. Update tag and revision i

[2021-05-08 18:15] chris-araman commented on #304
@dtgriscom, @solrevdev, do you still see this issue with mas 1.8.2?

[2021-05-08 19:37] dtgriscom commented on #304
I just tried with the existing version, and it now seems to work:

<pre>
DTG-MBPE-2:~ griscom$ mas version
1.7.1
DTG-MBPE-2:~ griscom$
</pre>
I have no idea what might have changed.

BTW, I tried upgrading mas using brew, and it failed:

<pre>
DTG-MBPE-2:~ griscom$ brew upgrade mas
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 3 taps (homebrew/core, homebrew/cask and homebrew/services).

[2021-05-08 21:11] chris-araman commented on #304
@dtgriscom, thanks for checking!

Users of older macOS releases need to use the [custom Homebrew tap](https://github.com/mas-cli/mas#%EF%B8%8F-older-macos-versions).

[2021-05-08 21:18] dtgriscom commented on #304
Tried; 403 error.

<pre>
DTG-MBPE-2:~ griscom$ brew install mas-cli/tap/mas
==> Installing mas from mas-cli/tap
==> Downloading https://dl.bintray.com/phatblat/mas-bottles/mas-1.8.1.mojave.bottle.tar.gz

curl: (22) The requested URL returned error: 403 Forbidden
Error: Failed to download resource "mas"
Download failed: https://dl.bintray.com/phatblat/mas-bottles/mas-1.8.1.mojave.bottle.tar.gz
DTG-

[2021-05-08 21:37] chris-araman commented on #304
Unfortunate timing.
https://github.com/mas-cli/homebrew-tap/issues/22

[2021-05-08 21:39] dtgriscom commented on #304
Happy to try again; let me know when.

[2021-05-08 22:48] cadenkriese opened #371 "🐛 [BUG] Update not working for certain apps"
## Your Environment

- mas version: 1.8.2
- macOS version: 11.3.1 (ARM)

### mas Install Method

- [x] `brew install mas` (homebrew-core)
- [ ] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [ ] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [ ] Built from source
  - Fork/branch: ? (e.g. mas-cli/master)
  - Xcode version: 10.?

## Describe the Bug

## To Repr

[2021-05-08 22:59] chris-araman commented on #364
We can't actually support building with multiple versions of Swift (currently 5.3 and 5.4) and also depend on Homebrew's `swift-format`. Homebrew only supports "current" versions (https://github.com/Homebrew/homebrew-core/pull/76206 notwithstanding), but we need the `swift-format` version to match the version of the swift tools used to build `mas`.

I took a 🔪 at resolving this in #372, by dependi

[2021-05-08 23:59] chris-araman commented on #369
Is `script/bottle` meant to upload bottles to a package repository, or just generate them locally to `.build/bottles`?

[2021-05-09 00:40] chris-araman commented on #304
@dtgriscom, the custom tap should be fixed now. Please try again with 1.8.2 and let us know.

[2021-05-09 00:42] dtgriscom commented on #304
Worked, but had some warnings:

<pre>
DTG-MBPE-2:~ griscom$ brew upgrade mas-cli/tap/mas
==> Upgrading 1 outdated package:
mas-cli/tap/mas 1.7.1 -> 1.8.2
==> Upgrading mas-cli/tap/mas 1.7.1 -> 1.8.2
==> Downloading https://github.com/mas-cli/mas/releases/download/v1.8.2/mas-1.8.2.mojave.bottle.tar.gz
Already downloaded: /Users/griscom/Library/Caches/Homebrew/downloads/cef992795310cf5527c68c7b5d4ea

[2021-05-09 01:06] chris-araman commented on #371
@cadenkriese, thanks for the report! This looks like another instance of #336, as both Endel and 1Blocker are available for iOS/iPadOS and macOS.

[2021-05-09 01:07] #371 closed

[2021-05-09 01:11] chris-araman commented on #304
@dtgriscom, thanks for the report. It looks like those warnings were from the 1.7.1 formula, which have since been [fixed](https://github.com/mas-cli/homebrew-tap/commit/f57c0447c7cc0fa686041395b19b5900c7f8d56f#diff-ad35e3230174c9d621ebb7ac971b7582222b4b99367542b858d91b5ef5c27d0cL13).

[2021-05-09 01:11] #304 closed

[2021-05-09 03:14] #230 closed

[2021-05-09 03:14] #364 closed

[2021-05-09 06:06] phatblat commented on #369
It just builds them. Uploading to Bintray was an easy drag-n-drop so I never got around to automating it

[2021-05-09 06:10] chris-araman commented on #369
GitHub Releases is drag-and-drop as well, although I think we can automate it with a `POST` using `curl`.

[2021-05-10 03:23] rgoldberg opened #378 "Place to discuss mas development / help with debugging error"
Is there a place to discuss mas development?

I want to debug mas to investigate `mas outdated` not reporting certain apps as outdated when the MAS gui reports them as outdated.

I successfully built & tested `main` from the command line using `./script/build` & `./script/test`, respectively, but I get the following error when I try to debug mas in Xcode 12.5 (12E262) on macOS 11.3.1 (20E241) on a

[2021-05-10 07:26] eloyaldea commented on #282
Hi, I don't know if I can still report this bug here as this issue has been closed, but I'm experiencing the same behaviour after 1.8.2: `mas outdated` shows an update, `mas upgrade` upgrades said app, running `mas outdated` again shows nothing to upgrade, but the App Store still shows the update there.

[2021-05-10 07:32] chris-araman commented on #282
@eloyaldea, is it possible that a copy of the app is in a location other than `/Applications/`? Perhaps in a system backup or a mounted drive from another macOS partition?

[2021-05-10 07:36] eloyaldea commented on #282
Not that I'm aware of, all my apps are installed like usual from the App Store and installed in `/Applications/`, I do have system backups in an external Time Machine drive and in my system's drive there is only one macOS drive with one partition in it.

[2021-05-10 07:37] chris-araman commented on #378
I'm not aware of any place other than GitHub to discuss mas development.

I haven't seen the error you mention. It looks like maybe you're trying to build mas for iOS? Command line executables are not supported on iOS.

If you have a fresh git clone of mas-cli/mas, in the main branch, you should be able to build (for macOS) with just:
[code]

[2021-05-10 17:23] chris-araman commented on #282
I wonder if you might be running into something along the lines of #250 or #309. I'm working on #376, which should address this.

With 1.8.2, does `mas list` show multiple entries for the app(s) that `mas outdated` reports need an update?

[2021-05-10 18:43] chris-araman opened #379 "`outdated` does not show updates for "Grammarly for Safari""
## Environment

- `mas version`: 1.8.2 from Homebrew core, and `main` built from source
- macOS: 11.3.1

### mas Install Method

`brew install mas` (homebrew-core, 1.8.2)
Built from source (`main`, Xcode 12.5)

## Describe the Bug

`mas outdated` and `mas upgrade` do not show an upgrade for "Grammarly for Safari" (id `1462114288`), though `mas list` does list it as being installed.

## To Reproduc

[2021-05-10 20:26] chris-araman commented on #106
Relevant, but it seems only useful for recent releases:
[code]

[2021-05-11 23:37] #379 closed

[2021-05-12 03:59] #344 closed

[2021-05-12 04:17] phatblat opened #380 "👷🏻 Set up M1 mini as GitHub self-hosted runner"
https://docs.github.com/en/actions/hosting-your-own-runners

[2021-05-12 07:59] jaklan commented on #80
The same issue with Xcode, when being on Catalina.

[code]

[2021-05-12 18:05] #250 closed

[2021-05-12 18:05] #309 closed

[2021-05-14 09:31] eloyaldea commented on #282
I assume `mas` behaves correctly when the app is trying to download is not in use. The beginning of this issue comes from the app `NetWorker Lite` with ID `1228738830 ` which is always running in the menu bar at the top, and the App Store comes with a pop-up to close the app before updating and then `mas` fails. I don't know if this can be fixed in `mas` or we need to close all apps before updatin

[2021-05-14 20:27] chris-araman commented on #282
Got it! That's an important distinction. I'm not yet sure how we can address this in `mas`, but I'll reopen this issue for tracking.

[2021-05-15 21:23] eloyaldea commented on #282
I thought I was explaining myself clearly sorry 😅🤓 the problem came from the app being opened and `mas upgrade` failing when that happenes. The new title I think it fits better yes, a way for `mas` to detect if an app is opened before attempting the installation and failing to do so. Happy to help!

[2021-05-17 01:13] brian163 opened #383 "🐛 [BUG] v1.8.2 package file?"
Are mas.pkg files no longer being posted as of 1.8.2? All I see is source code and bottle files? (Sorry if I'm confused, I'm not a developer.)

Any guidance would be appreciated.

[2021-05-17 18:35] chris-araman commented on #383
[Here you go.](https://github.com/mas-cli/mas/releases/download/v1.8.2/mas.pkg) I'm not sure why it wasn't included with the rest of the release assets, but it's there now.

[2021-05-17 18:35] #383 closed

[2021-05-18 08:21] luispuerto opened #384 "Some apps are always shown as outdated even though they're already the latest version (CFBundleShortVersionString vs. CFBundleVersion)"
## Your Environment

- `mas version`: 1.8.2
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 11.3.1 (20E241)

### mas Install Method

- [x] `brew install mas` (homebrew-core)
- [ ] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [ ] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [ ] Built from source
  - Fork/branch: ? (e.g. mas-cli/ma

[2021-05-18 14:58] lougreenwood commented on #384
I also get this for `1Blocker 3.16` and `Endel 2.3.264`.

Not sure if these should go in separate issues as application specific or if it's a general `mas` bug?

[2021-05-18 17:55] luispuerto commented on #384
@lougreenwood I don't know either and at least in the case of Ninja Cookie the short version is just 0.7, so perhaps that the confusion.

[2021-05-18 19:32] undergroundwires commented on #326
Hi @chris-araman , thanks for resolving this.

I tried with `installer -pkg` and it does not install it in the path of `-target` argument.

`which mas` gives me `/usr/local/bin/mas`

`pkgutil --pkg-info com.mphys.mas-cli` gives me empty location:

[code]

**Questions**

- Is there any way to install it only in the folder I want?
- How can I uninstall it after running the `pkgutil`?

For the second

[2021-05-18 21:14] undergroundwires opened #385 "Distribute download script for portable versions"
### Describe the solution you'd like

Distributing official `download.sh` in the repository. Or it could be `install.sh` that take `--target` as parameter and copies the executable binary on a desired place.

In the end users can run something like `/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/mas-cli/mas/HEAD/download.sh)"` to get right `mas` binary on current folder. Just like br

[2021-05-20 02:42] phatblat commented on #383
Sorry about that, @brian163. I deleted and recreated the release after we worked out some issues. Didn't notice that the .pkg file got dropped in the process. Thanks for pointing this out!

[2021-05-20 02:57] phatblat commented on #385
This doesn't sound very hard. As you've noticed, a lot of this logic already exists in our [`scripts`](https://github.com/mas-cli/mas/tree/main/script).

The tricky part is probably figuring out the version to use. It would be easy if we only supported the "latest" version, but are you thinking people would need to download older versions?

[2021-05-20 04:55] phatblat commented on #384
Yep, I get the same, even immediately after installing the app.

[code]

[2021-05-20 05:05] phatblat commented on #384
Sorry. There have been a handful of annoying issues like this since we fixed the `outdated` and `upgrade` commands.

Noticed that both the version numbers in the `outdated` output are listed in the app's "About" window and `Info.plist` file.

<img width="396" alt="Screen Shot 2021-05-19 at 10 46 38 PM" src="https://user-images.githubusercontent.com/28851/118921464-13919500-b8ed-11eb-87fd-94e6f795c

[2021-05-20 12:57] undergroundwires commented on #385
Thanks for the quick feedback and considering it. You're right your point.

**Always fetch latest version**

- **Pros**: Pretty straightforward to implement. We could just request to `https://github.com/mas-cli/mas/releases/latest`.
- **Cons**: When `mas` is heavily distributed and gets a new major version it would break the current users.
  - E.g. I distribute a bash script using `mas list` API b

[2021-05-22 05:21] bosconb opened #386 "Feature Request: add option for costomized APP list to ignore mas action"
any way to add a  costomized list, which would prevent mas action,such as outdated or upgrade ?

appreciated for that

[2021-05-22 11:31] rgoldberg commented on #378
All was fixed by a fresh clone.  Not sure why my previous clone that was up-to-date with `main` had the problem but the new clone doesn't.

[2021-05-22 11:31] #378 closed

[2021-05-22 11:45] rgoldberg opened #387 "🐛 [BUG] App Store GUI reports apps installed by mas as outdated but mas doesn't"
## Your Environment

- `mas version`: 1.8.2
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 11.3.1 (20E241)

### mas Install Method

- [X] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
  - Fork/branch: ? (e.g. mas-cli/maste

[2021-05-24 03:58] rgoldberg opened #388 "Upgrade PromiseKit to 6.14.0"
Upgrade PromiseKit to 6.14.0

[2021-05-24 21:07] chris-araman commented on #388
This seems to fix some compiler warnings, but doesn't seem to offer new functionality or fixes for `mas`. Is there something specific you're hoping to use in this release, @rgoldberg?

[2021-05-24 21:09] chris-araman commented on #380
⚠️ Self-hosted runners might be open to attack from forks of the public `mas` repository:
https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners#self-hosted-runner-security-with-public-repositories

[2021-05-24 21:38] rgoldberg commented on #388
Was just interested in getting rid of the compiler warnings and generically upgrading to the latest.

[2021-05-24 23:01] #388 closed

[2021-05-26 02:22] brian163 commented on #383
Thanks for the update!

[2021-05-28 23:16] chris-araman commented on #386
This sounds like version pinning. Something like [`brew pin`](https://docs.brew.sh/FAQ#how-do-i-stop-certain-formulae-from-being-updated) seems like it might address this.

We could persist this in a property list.

[2021-05-28 23:25] chris-araman commented on #326
@undergroundwires, I don't think the `.pkg` is meant to do what you're trying to do. The target path is only a prefix to the installed binary's relative path `usr/local/bin/mas`. For instance, if you want to install to prefix `/opt/mySpecialPackageManager`, the absolute path to the binary would be `/opt/mySpecialPackageManager/usr/local/bin/mas`.

That will depend on your `PATH`. Was `/tmp/mas/usr

[2021-06-01 11:03] baggiponte commented on #247
Hi! I am experiencing a similar problem. When I `mas outdated` I get a list of apps which are not outdated or not even on my machine anymore:

[code]

[code]

`mas` is `1.8.2` and System is `macOS 11.4`

Thank you!

[2021-06-01 19:04] rgoldberg commented on #247
@baggiponte Which of the listed apps aren't out of date? All appear to have newer versions available according to the mas output. If they aren't out of date, what is the version installed on your machine, and what is the version of the app in the App Store GUI? Thanks.

[2021-06-01 23:48] rgoldberg commented on #387
Keynote 11.1 & Developer 9.2 were recently released.  `mas upgrade` upgraded both according to its output & to `mas list`, but the App Store GUI says that an upgrade for Developer to 9.0.1 is available.  When I run Developer, its version is 9.2 (920.34.2).  The App Store GUI shows that 9.2 was released yesterday, but is offering to upgrade to 9.0.1.  Very odd…

[2021-06-03 07:03] baggiponte commented on #247
Hi, I am no longer experiencing this issue!

[2021-06-03 07:40] rgoldberg commented on #247
@baggiponte Any ideas what fixed it?

[2021-06-03 09:29] baggiponte commented on #247
Not really sure. Perhaps simply running `mas list` was enough to update the installed app list (if I remember correctly I immediately ran `mas outdated` after installing it, before any other command).

[2021-06-03 09:33] baggiponte commented on #313
Same issue here, my `mas`' version is `1.8.2` and `macOS` is `11.4`.

[2021-06-03 17:13] Red1860 opened #392 "`install` / `upgrade` to specified old version of app"
# Investigation Resources

<https://github.com/majd/ipatool>
<https://github.com/majd/ipatool/issues/6#issuecomment-1115843056>
<https://github.com/NyaMisty/ipatool-py#download-old-version>
<https://www.txthinking.com/talks/articles/ios-old-version-app-en.article>
<https://tools.lancely.tech/apple/app-version/cn/447188370>

# Original Issue

**Is your feature request related to a problem? Please d

[2021-06-03 21:39] chris-araman commented on #392
I don't know that this will be possible. The App Store is focused on getting the *current* version of apps to users. I'm not aware of a way to query it for previous versions.

[2021-06-03 21:45] chris-araman commented on #387
This sounds like a bug in the App Store app, not in `mas`. Unfortunately, I don't think there's much we can do about it on our end. We don't work for Apple.

The next time you see this, please try selecting "Reload Page" from the "Store" menu when the Updates panel is visible.

[2021-06-03 21:48] chris-araman commented on #384
I recently fixed the case where the bundle version is newer than the App Store version. This is the opposite case. We don't have a way to get the bundle version from the App Store without downloading the app again every time we want to check for the latest release.

We could heuristically parse both `CFBundleShortVersionString` and `CFBundleVersion`, and if they're both parseable as Semantic Versi

[2021-06-04 15:09] rgoldberg opened #393 "Improve mas upgrade output"
Improve `mas upgrade` output from:

[code]

Also, `Downloading` should be changed to `Downloaded` after the download has completed.

Maybe the displayed app names should be consistent, instead of using `Developer` at the top, and `Apple Developer` at the bottom.  I assume we should use the longer name everywhere.

**Describe the solution you'd like**

Improve `mas upgrade` output to something like

[2021-06-04 16:34] chris-araman commented on #393
I agree the existing output can be a little confusing. It's not always clear whether `mas` is showing the existing app version or the version to be upgraded. There's also confusion between bundle version, bundle short version, and App Store version, which don't always match, but that's probably outside the scope of this issue.

@rgoldberg, did you want to try putting together a pull request for th

[2021-06-04 17:25] rgoldberg commented on #393
Yeah, I'm happy to create a PR.  Do you know a good text formatting utility to output plaintext in columns?

[2021-06-04 17:35] rgoldberg commented on #387
Yeah.  Seemed like an App Store issue, but wasn't sure that mas didn't somehow mess up app installs that somehow caused problems with the App Store.  Figured it was better to document this than to just ignore it, even if there isn't really much to be done from the mas side right now.

[2021-06-04 18:38] chris-araman commented on #393
I don't think a library will be necessary for tabulation. Take a look at the existing [Formatters](https://github.com/mas-cli/mas/tree/main/Sources/MasKit/Formatters).

[2021-06-04 23:10] phatblat commented on #392
I'm also doubtful that this is possible. Does the Mac App Store offer installation of an older version of an app when the latest/current version of the app requires a higher version of macOS than is currently installed? I know that's how iOS app installs work. I'm wondering if there's an API for these older versions, but it might not be exposed to us.

[2021-06-04 23:12] phatblat commented on #392
FYI, #386 is a request to "pin" apps so that they are not upgraded the latest version by mas. I know that is different than this request, but it relates versions of apps.

[2021-06-05 17:04] Red1860 commented on #392
Yes it does. So for eg, i'm on Catalina and Latest version of Xcode requires Big Sur. I just run the mas command for installing Xcode on Catalina and it prompts me whether  i want to download an old version of the app or not and it downloads fine after that. So i'm guessing it all has to do with the Specific id of the App.

As far as on iOS, you can downgrade your apps via jailbreak but you requir

[2021-06-06 00:13] malob commented on #256
Just an update that I had this same issue again with 1Password. Would love to know what's causing this.

[2021-06-06 20:15] rgoldberg commented on #387
@chris-araman

A few days ago, the App Store GUI reported a Developer 9.2.1 update as being available.

I used `mas upgrade` to install that update on the 4th.

The App Store GUI then no longer showed Developer as needing to be updated.

Today (the 6th) the App Store GUI now shows a Developer 9.2.1 update as being available, again.

It shows that it was released 3 days ago (the 3rd).

Menu > `Deve

[2021-06-08 04:21] chris-araman commented on #387
@rgoldberg, did the "Reload Page" steps I mention have any effect?

It's possible that Apple released Developer 9.2.1 twice. There have been several updates this week leading up to WWDC.

[2021-06-08 05:09] rgoldberg commented on #387
"Reload Page" didn't do anything.

[2021-06-08 16:02] n8felton opened #395 "[FR] Ability to retrieve additional metadata about App"
When using mas to automate gathering information about Apps, it would be nice to be able to retrieve additional metadata such as the Description, "What's New", and Category (and potentially all the other metadata available in the "Information" section of the MAS)

**Describe the solution you'd like**
An updated command such as `mas info` or additional argument such as `mas info --description` and/

[2021-06-09 02:24] chris-araman commented on #395
It probably makes sense to implement this as part of #190.

[2021-06-09 02:53] phatblat commented on #395
My thoughts exactly, @chris-araman. For context, @n8felton, changing output format can break scripts and tools that parse `mas` output. Perhaps we can combine this idea with #190 as we add more output and flags to control the format.

[2021-06-09 02:59] phatblat commented on #392
Good to know. It may be possible to use that version ID if we can figure out how to get it and find the macOS API for specifying it. `mas` is already using private APIs to `install` and `upgrade` apps.

[2021-06-09 23:01] phatblat commented on #190
It would be neat to have a [`--json5`](https://json5.org) option too, mostly for the unquoted keys.

[2021-06-10 04:08] mo3rfan opened #397 "Error: Download failed: Authorisation is required to install the packages."
On m1 Big Sur, mas version 1.8.2, I get the following when I try to update an app.

[code]

I am signed in via App store and I have the app 'purchased' from the app store (the app is moved to a different drive though).

I have also tried `mas reset`

[2021-06-12 08:38] rgoldberg commented on #387
`mas upgrade` upgraded Slack to 4.17.0 & Developer to 9.2.2, but the App Store GUI still thinks they can be upgraded to 4.17.0 & 9.2.2, respectively.

The App Store has issues recognizing app upgrades applied by `mas upgrade`.

I'm running the latest everything: macOS 11.4, mas 1.8.2, etc.

[2021-06-13 09:01] tekumara commented on #164
My current workaround, which requires user action, so not suitable for a non-interactive script:
[code]

[2021-06-15 20:14] jonathanlaniado opened #398 "Is there any way to `mas upgrade` only closed/non-running apps?"
I would like to run `mas upgrade` as a bash script on a normal cadence to keep my apps updated and healthy. Currently, I cannot keep this process automatic since the script attempts to download ALL apps. Is there any flag or option to select only non-running apps when using `mas upgrade`?

I would like to avoid having to hit Cancel every time and instead let the script try again later:
<img width=

[2021-06-16 05:13] chris-araman commented on #398
Similar to #282.

@jonathanlaniado, not today, though you could probably piece something together in your favorite shell.

Maybe it could be implemented as something along the lines of:
[code]

The existing behavior is essentially `prompt`, by way of the private macOS frameworks `mas` invokes. For the `fail` and `kill` options, we'd need to enumerate all executables, dylibs, and frameworks in the

[2021-06-29 03:40] MikeiLL commented on #397
Same here with Xcode. I'm trying to upgrade from `Xcode (11.3.1)`. Had been on Mojave, previously.

[code]

The annoying thing is, it doesn't provide the error message until after it has downloaded the entire thing. Tried running with `sudo`, which returned

[code]

I'm excited to get into this tool. Just discovered it.

[2021-06-29 03:55] MikeiLL commented on #397
Wait a minute! After a more thorough look at the README, `mas upgrade` will upgrade all of the available App Store apps, but to upgrade a single app, it wants the "App Identifier", which is listed in the output of `mas outdated`

For me:

[code]

Interestingly, running `mas upgrade Pages` seems to have worked:

[code]

So now I'm running `mas upgrade 497799835`. Will know in 30 minutes, or maybe t

[2021-06-29 13:00] MikeiLL commented on #397
Same error.

[2021-06-29 21:16] chris-araman commented on #397
@MikeiLL:
`sudo` shouldn't be necessary, and may actually be problematic.

1. Are you signed into the App Store app (the GUI)?
1. Are you signed in with the same Apple ID as originally purchased and installed Xcode, Pages, or any other apps that report this error?
1. Might the app(s) have been installed by another local Mac user account?
1. Are the apps being upgrade installed to the `/Application

[2021-06-29 21:33] MikeiLL commented on #397
Thank you, Chris!

    No, then yes.

    Yes. I only have one, as far as I know.

    I don't believe so.

    Yes! I have Xcode on an external drive. Is that something `mas` can currently support?

    Big Sur. (So far so good)

Thank you very much, man.

I have installed Xcode through the GUI, and moved it to the external drive. Mas-cli still lists it. Well done! Any suggestions for next time I

[2021-06-29 21:38] chris-araman commented on #397
Ah, I bet that's what's causing the issue. See #309 for more details. After https://github.com/mas-cli/mas/commit/d39058c7be405944fa1a172f39e5168fb9cef866, not yet released, we'll no longer report apps outside `/Applications/` as outdated, or try to upgrade them.

I'm not sure what would cause this particular error exactly, but it does seem like the App Store really prefers that everything is in `

[2021-06-29 23:08] MikeiLL commented on #397
Fantastic. It's too bad Apple isn't supporting management of nearly 20Gig apps on an external drive. Perhaps they, and by extension mas-cli will in the future. In the meantime, I'll have to just use it for apps located in Applications. And will look forward to your upgrade. Hopefully I'll be able to contribute more significantly in the future. Great work, sir.

[2021-06-29 23:11] chris-araman commented on #397
Closing, as both reports seem to be related to #309 and should be addressed by d39058c.

[2021-06-29 23:11] #397 closed

[2021-07-05 20:18] voltuer opened #402 "No longer available in Homebrew"
I tried installing it on my Mac with M1 chip and I get this:

[code]

[2021-07-05 20:32] chris-araman commented on #402
It's still there:
https://github.com/Homebrew/homebrew-core/blob/master/Formula/mas.rbterm

[code]

Are you running macOS Catalina 10.15 or later? If not, you can install from our custom tap:
https://github.com/mas-cli/mas#%EF%B8%8F-older-macos-versions

If you are, what does `brew doctor` show?

[2021-07-05 20:50] #259 closed

[2021-07-05 20:50] chris-araman commented on #266
Closing after no response.

[2021-07-05 20:50] #266 closed

[2021-07-06 08:56] tr4g commented on #402
I'm running Big Sur 11.4 on a Mac Mini with M1 chip. May that be the problem?

[2021-07-06 15:17] chris-araman commented on #402
I'm sorry. You did say M1 in your original report, which implies Big Sur. Big Sur and M1 are both supported. That is not the problem.

1. What does `brew doctor` show?
1. What does `brew update` show?

[2021-07-07 18:15] chris-araman commented on #402
Similar to https://github.com/cli/cli/issues/3949.

[2021-07-12 16:53] chris-araman commented on #402
@tr4g, it sounds like the issue you're experiencing is an issue with your Homebrew installation, not with mas-cli. Please try [troubleshooting](https://docs.brew.sh/Troubleshooting) Homebrew.

[2021-07-12 16:53] #402 closed

[2021-07-17 10:09] bevanjkay opened #404 "`upgrade`: handle app names case insensitively"
When running a `mas upgrade` command using an application name, the command is case-sensitive.
This may be necessary, but if possible it would be nice for the commands to ignore case.

For example;
Running `mas upgrade spark` does nothing.
Running `mas upgrade Spark` completes the upgrade.

[2021-07-20 18:20] chris-araman commented on #404
There's some overlap here with https://github.com/mas-cli/mas/issues/109.

I think the design here should follow Homebrew formula naming, where formula and cask names are all lowercase:
https://docs.brew.sh/Formula-Cookbook#a-quick-word-on-naming

`brew bundle` interoperates with `mas` would allow users to install apps by name-token instead of (only) by integer ID.

[2021-07-27 21:01] PaulDoesDev commented on #384
I'm still seeing this myself with `1Blocker 3.16.2`

[2021-07-28 04:21] chris-araman commented on #384
It seems this plan isn't going to work, as `CFBundleVersion` seems to have no relation to `CFBundleShortVersionString` for many apps.

As things are today, using only `CKSoftwareProduct.bundleVersion`, which is generally expected to match `CFBundleShortVersionString`:
[code]

However,  using the greater of `CKSoftwareProduct.bundleVersion`, `CFBundleShortVersionString`, and `CFBundleVersion`, we s

[2021-08-03 20:13] orbanbalage commented on #387
I'm on Catalina 10.15.7 (19H1323), mas 1.8.2, and have the same issue.

Tried logging out and in, reloading the Update page, but no change.

I have four updates waiting in the AppStore, mas says there is nothing.

[2021-08-17 23:32] aubreypwd commented on #216
I also have this same issue no matter how many times I use `sudo`...

[2021-08-25 10:56] cbrunnkvist commented on #85
It still does not work (macOS Big Sur). This _despite_ being logged in and able to download apps using _App Store.app_, and `mas account` picking up the correct primary account.

I can again **confirm** that it is pristine app downloads that fail with this (erroneous) message - already "purchased" apps download perfectly fine! 😵

<img width="466" alt="Screen Shot 2021-08-25 at 17 36 07" src="https

[2021-08-25 11:13] cbrunnkvist commented on #85
Is this bug somehow related to `trackViewUrl`, which always seem to contain an `/en/` component e.g.
[code]

BUT
when I select _Share -> Copy link_ in App Store app, the link produced contains the country code of my current account
[code]

(Just a theory, but: do we need to class-dump again and figure out a way install from the correct market / market-specific accountDSID or something?)

[2021-08-29 15:12] bric3 commented on #344
Hi, I stumbled on this issue, while using mas directly `mas upgrade`, I see a popup "The network connection was lost".
However clicking the retry button don't fix the issue. It seems to happen for all apps that are tried to be downloaded, and I have to _cancel_ for each.

<img width="572" alt="image" src="https://user-images.githubusercontent.com/803621/131254979-faf2e384-3950-4251-9bc4-f63bf43e45

[2021-08-29 20:15] chris-araman opened #408 "`upgrade` failure should cancel subsequent app upgrades"
Hi, I stumbled on this issue, while using mas directly `mas upgrade`, I see a popup "The network connection was lost".
However clicking the retry button don't fix the issue. It seems to happen for all apps that are tried to be downloaded, and I have to _cancel_ for each.

<img width="572" alt="image" src="https://user-images.githubusercontent.com/803621/131254979-faf2e384-3950-4251-9bc4-f63bf43e45

[2021-08-29 20:16] chris-araman commented on #344
Thanks for the report, @bric3.

Hrm... This should not be happening. We should instead fail fast after the first cancellation. However, that should be tracked as a separate issue. I've opened #408 for tracking.

The App Store caches information about versions available in the App Store, and that cache is frequently found to be out-of-date. We've done some work in recent `mas` releases to avoid cli

[2021-08-29 20:16] chris-araman commented on #408
This should not be happening. We should instead fail fast after the first cancellation.

[2021-09-01 21:49] Julius-R opened #409 "Error installing Xcode"
I got the below error when trying to install Xcode. I tried googling it, but couldn't find any help.

Error: Download failed: “Xcode.app” could not be moved to “0B011577-E168-4ABA-B455-3F6D42463808.sandbox Trash” because either the former doesn’t exist, or the folder containing the latter doesn’t exist.

[2021-09-03 01:37] #409 closed

[2021-09-04 13:14] melgu commented on #384
I have the same issues with:
[code]
Running e.g. `mas info 1538650027 ` shows the latest version as 1.1.2, but the English as well as the German App Store pages show the latest version as 1.1.1.

[2021-09-08 08:14] BerndGoldschmidt opened #410 "`outdated` reports some current apps as outdated & duplicates some apps"
## Your Environment

- `mas version`: `1.8.2`
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`):
[code]

### mas Install Method

- [X] `brew install mas` (homebrew-core)

## Describe the Bug

- mas reports apps as outdated even after upgrade
- mas reports the same apps multiple times

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected Behavior

updated ap

[2021-09-08 18:22] chris-araman commented on #410
This is because the `CFBundleShortVersionString` in the GoodNotes.app bundle is "5.7.26", but the version GoodNotes listed in the App Store is "5.7.27". We don't currently have a way to detect or resolve this condition. Pull requests welcome. Duplicate of #384.

This is likely because the app was found in multiple paths on your system. This issue would be addressed by d39058c7be405944fa1a172f39e51

[2021-09-08 18:22] #410 closed

[2021-09-08 18:24] chris-araman commented on #247
I suspect this is resolved with the fix for #309. Apps that are copied or backed up to paths outside of `/Applications` would be listed when they shouldn't have been.

[2021-09-08 18:24] #247 closed

[2021-09-09 02:38] hsingll opened #412 "🐛 [BUG]"
## Your Environment

- `mas version`:stable 1.8.3
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 10.15.7 (19H1323)

### mas Install Method

- [X] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
  - Fork/branch: ? (e.g. mas-c

[2021-09-09 11:35] andrewcrook opened #413 "Some apps report incorrect versions"
## Your Environment

- `mas version`: ` 1.8.3`
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 10.1...
[code]

### mas Install Method

- [`X`] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
  - Fork/branch: ? (e.g. mas-cli/m

[2021-09-09 15:41] laggardkernel opened #414 "🐛 [BUG] bad CPU type in executable: mas, after upgrading to 1.8.3"
## Your Environment

- `mas version`: 1.8.3
- macOS version:

[code]

### mas Install Method

- [x] `brew install mas` (homebrew-core)
- [x] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [ ] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [ ] Built from source
  - Fork/branch: ? (e.g. mas-cli/main)
  - Xcode version: 10.?

Tried install from homebrew-core and

[2021-09-09 16:34] chris-araman commented on #413
Thanks for reporting this @andrewcrook. However, the issue is already tracked in pinned issue #384. Pull requests are welcome!

[2021-09-09 16:34] #413 closed

[2021-09-09 16:41] chris-araman commented on #414
@laggardkernel, are you able to update to 10.14.6, the latest update for Mojave? Is the issue reproducible on 10.14.6?

Are you using the system `zsh` in `/bin/zsh`, or `zsh` compiled or distributed via MacPorts, Homebrew, or another package manager? Is the issue reproducible with the system `/bin/zsh`?

Is the issue reproducible with `/bin/bash` or only `/bin/zsh`?

[2021-09-10 00:57] laggardkernel commented on #414
@chris-araman I'm using the 10.14.6. `zsh` is homebrew installed.

The problem could be reproduced with both brew installed zsh and the system `/bin/zsh`. Same error when using brew installed bash or system `/bin/bash`.

[2021-09-10 01:17] phatblat commented on #414
I think this is a problem with the build I created yesterday from an M1 Mac. On a Intel Mac I'm getting the same error:

[code]

[2021-09-12 20:42] phatblat commented on #414
Note that this does not appear to be an issue with the mas bottles built by Homebrew.

[code]

However, it certainly is an issue with the mas 1.8.3 bottles on our [custom tap](https://github.com/mas-cli/homebrew-tap).

[code]

[2021-09-12 20:51] #414 closed

[2021-09-12 20:55] phatblat commented on #414
I've updated the bottles in our custom tap, so this issue is now resolved.

[code]

@laggardkernel Can you confirm? Note, you'll need to `brew update` to pick up the new bottle hashes from this rebuild.

[2021-09-13 03:14] laggardkernel commented on #414
@phatblat Thanks for your work. I can confirm 1.8.3 works now.

[2021-09-21 13:54] dschmidt commented on #80
I currently see this with Xcode on `System Version: macOS 11.2.3 (20D91)`:
![Screenshot_20210921_151149](https://user-images.githubusercontent.com/448487/134183675-7bf66740-d3a4-40ec-8c85-d40ecfa301a2.png)

hope this helps

[2021-09-21 13:57] dschmidt commented on #80
Worst aspect of this is, that even after installing the last compatible version `mas upgrade` does not detect it's the most current compatible version installed and tries to install it again and again. We're having `mas upgrade` in our ansible scripting and it currently needs someone to manually click download in that popup for `mas upgrade` to succeed - and even then it always runs for about half

[2021-09-21 14:19] dschmidt commented on #80
Interesting: I had to install updates from software update center and accept new license terms there. Now mas reports
[code]

[2021-09-26 20:14] fpesch opened #416 "App always upgrades even if no new version available"
## Your Environment

- `mas version`: 1.8.3
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): `System Version: macOS 11.6 (20G165) Kernel Version: Darwin 20.6.0`

### mas Install Method

- [X] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Buil

[2021-09-27 00:19] chris-araman commented on #416
@bpesch, thanks for the report, but this is already tracked by #384. Pull requests are welcome!

[2021-09-27 00:19] #416 closed

[2021-09-27 08:42] lukasmalkmus opened #417 "🐛 [BUG] `mas account` says not signed in but I am"
## Your Environment

- `mas version`: 1.8.3
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 12.0 (21A5522h)

### mas Install Method

- [x] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
  - Fork/branch: ? (e.g. mas-cli/main)

[2021-09-27 18:30] malob commented on #417
Same here (with same macOS Monterey version). I noticed to it stopped working after it updated to Beta 7, `mas` had been working on previous betas without issue.

[2021-09-27 21:38] chris-araman commented on #417
I can reproduce this. I am also running macOS Monterey beta 7.

@lukasmalkmus, @malob, do either or both of you see this when iCloud Private Relay is enabled? Is it reproducible with iCloud Private Relay disabled?

[2021-09-28 00:15] malob commented on #417
@chris-araman, unfortunately I’m now away from my macOS machine for a few days, so won’t be able to test this until Thursday.

[2021-09-28 01:32] phatblat commented on #417
I'm able to reproduce this with Private Relay disabled in macOS 12 beta 7.

Guessing this is due to an API change in Monterey I ran our `update_headers` script, and it appears `class-dump` can't find the binary.

[Dumper](https://bananafishsoftware.com/products/dumper/) agrees that these frameworks are missing the binary. I wonder if Monterey has somehow hid them from our prying eyes 👀.

<img widt

[2021-09-28 01:46] chris-araman commented on #417
@phatblat, those binaries don't exist in the file system in Big Sur either, due to the dyld cache. There is some sample code from Apple (search for `dsc_extractor.bundle`) that can extract binaries from the cache.

That said, `class-dump` doesn't seem to be able to handle recent x86-64/x86-64h binaries extracted this way, and definitely doesn't handle arm64/arm64e binaries. Maybe Dumper does?

[2021-09-29 03:00] phatblat commented on #417
I ran across [Extracting libraries from dyld_shared_cache](https://worthdoingbadly.com/dscextract/) and was impressed with his/her understanding of the process. Using https://github.com/zhuowei/dsc_extractor_badly I was able to get a CommerceKit x86_64 binary. Neither class-dump nor Dumper were able to work with it, but [IDA Free](https://hex-rays.com/ida-free/) is able to understand this file.

<

[2021-09-30 14:43] hakamadare opened #420 "🐛 [BUG] don't attempt to install application when minimum osversion not present"
## Your Environment

- `mas version`: 1.8.3
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`):
[code]

### mas Install Method

- [x] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
  - Fork/branch: ? (e.g. mas-cli/main)
  - Xcod

[2021-10-01 00:53] drewauff commented on #412
This is much worse when piping through fzf. `column -t` "fixes" this a little but everything is so spread out.

[2021-10-01 00:54] drewauff opened #421 "Compatible Updates"
MAS needs the ability to filter updates. ie. Im on Catalina and when some devs. Apple included, decide to update there apps to Big Sur+ only, MAS asks If id like to download/install an older compatible version. These incompatible apps (I have 5) need to be filtered out otherwise "upgrading all" is rendered useless because installer wont progress. Even if you select yes to download older version it

[2021-10-01 01:42] phatblat commented on #420
👍🏻 This should be an easy change.

[2021-10-01 02:00] chris-araman commented on #420
Agreed!

Please beware of minimum OS requirements for iOS and iPadOS apps installed on Macs with Apple Silicon, though. If what you need isn't available via CommerceKit, it may be available from the App Store pages. IIRC, the `search` branch has some work to handle apps for different platforms.

[2021-10-01 02:54] phatblat commented on #420
Oohh, good call @chris-araman. We have a `minimumOsVersion` field on search results that I've got a WIP solution for. I'll need to test this to see what happens for iOS apps on macOS. I'll take a look at your `search` branch.

[2021-10-04 17:28] undergroundwires commented on #385
I can send a PR for the second option if you'd like

[2021-10-04 17:28] undergroundwires commented on #385
I can send a PR for the second option if it sounds good

[2021-10-07 12:22] oschrenk commented on #164
Using
* mas 1.8.3
* 12.0 Beta (21A5534d) (beta 8)

I always get

[code]

The App Store UI does report me as being logged in. I also tried signing out, and signing back in. It did not change the results

[2021-10-08 22:33] kylerjensen commented on #164
Same here; `mas` will not work with macOS Monterey until this is fixed.

[2021-10-11 19:18] tiiiecherle commented on #417
I have the same problem on the latest macOS 12 beta. As I am running tests for my install scripts in the moment it would be very nice to see this fixed.
Thanks in advance.

[2021-10-19 21:49] ankushnarula commented on #417
Same problem with Release Candidate - macOS 12.0 Beta (21A5552a)

[2021-10-30 02:50] jimscard commented on #164
Still the same on 2019 Intel MacBook macOS 12.0.1 (21A559); not logged in state reported by mas although the App Store GUI shows me logged in.

[2021-10-31 15:21] stephenulmer commented on #164
After my upgrade to 12.0.1 it all broke again. Sigh.

[2021-11-01 06:03] luisriverag commented on #164
2016 MBP here, GUI sign in workaround failing after update to 12.01 (21A559)

[2021-11-01 15:19] hakamadare commented on #421
good news!  this is already fixed in #422, which is merged but not yet released.

[2021-11-01 15:54] mathbunnyru commented on #421
Thanks @hakamadare, that's great news!
@chris-araman @phatblat I think this issue can be closed and it would be super-great to have a new release :heart:

[2021-11-01 17:46] leowill01 commented on #164
Unable to sign in with `mas signin` and also `mas` doesn't recognize signing in through App Store app.

mid-2017 MBP
macOS Monterey 12.0.1
mas 1.8.3

[2021-11-02 03:07] StrangeRanger opened #426 "`install` incorrectly says I'm not signed in"
## Your Environment

- `mas version`: 1.8.3
- macOS version: macOS 12.0.1 (21A559)

### mas Install Method

`brew install mas` (homebrew-core)

## Describe the Bug

It seems as though, despite being logged into my account via the App Store, mass doesn't recognize this. It tells me `Error: Not signed in`

## To Reproduce

Steps to reproduce the behavior:

1. Attempt to install todoist via `mas inst

[2021-11-02 03:11] StrangeRanger commented on #417
Same here

[2021-11-02 03:11] #426 closed

[2021-11-02 04:16] jimscard commented on #417
Repros on 12.1 Beta as well.

[2021-11-02 09:50] Drallas commented on #417
Any news if this issue is being adressed?
Is there a workarround?

[2021-11-02 17:19] chris-araman commented on #417
Hi, all!

You're in the right place. Efforts toward resolving this issue will be tracked here. @phatblat and I are both volunteer maintainers with obligations apart from `mas` maintenance. We are not paid (though I do welcome [sponsorship](https://github.com/sponsors/chris-araman)). We do this because we love open source and want to give back to the community. We are also `mas` users.

We're not a

[2021-11-02 17:40] zcutlip commented on #417
When you use `dsc_extractor` to dump a dylib from the shared cache, it doesn't really give you a proper dylib. Lots of things get rewritten during the linking process that generates the shared cache, and `dsc_extractor` doesn't undo most of that. So, you mostly get a mach-o dylib that, at best, superficially resembles the original, but is mostly broken internally. @phatblat, you probably found lot

[2021-11-02 17:50] zcutlip commented on #417
Regarding dyld_shared_cache, here are a couple resources for informational purposes

There's a project called DyldExtractor which unfortunately doesn't work on macOS shared caches; it's iOS only. But looking through it can give you some insight into how hard a problem it is to reconstruct the dylibs. It's a pure python project that does not use `dsc_extractor`. It parses the shared cache and attem

[2021-11-02 18:07] chris-araman commented on #417
Any chance you'd want to open source that? 😁 What are you using for disassembly?

FWIW, even the NSA doesn't seem to be able to grock Monterey's `dylib_shared_cache` [yet](https://github.com/NationalSecurityAgency/ghidra/issues/3345).

[2021-11-02 18:11] zcutlip commented on #417
Unfortunately I can't share the tool since it's work-related

As for disassembly, I'm using IDA to load the reconstructed dyld_shared_cache, and then disassemble individual dylibs. So, happy to run any IDA python scripts against my IDB and share the results if that helps.

And yeah I filed that bug on Ghidra :-)

[2021-11-02 18:38] zcutlip commented on #417
I'll see what I can do. I'm not super familiar with the class-dumping side of it. If there's something already out there, particularly in python, I'll see if I can adapt it.

[2021-11-02 19:19] chris-araman commented on #417
If you have a de-sliced, fixed-up x86_64 binary, you might have some luck dumping it with `class-dump` ([upstream](https://github.com/nygard/class-dump), or [our fork](https://github.com/mas-cli/class-dump)).

[2021-11-02 20:28] Stooovie commented on #417
Still not fixed?

[2021-11-02 20:35] Drallas commented on #417
Please read first, this will take some time to fix.

[2021-11-02 20:44] Stooovie commented on #417
Shouldn't it be marked as "not working" on Monterey on [brew.sh?](https://formulae.brew.sh/formula/mas#default) It's confusing.

[2021-11-02 20:47] zcutlip commented on #417
Maybe file that bug with homebrew-core then?
https://github.com/Homebrew/homebrew-core

[2021-11-02 20:47] Stooovie commented on #417
Ok, doing that now.

[2021-11-03 03:16] #351 closed

[2021-11-03 03:21] phatblat commented on #421
Closing this as #422 already addresses this request. We're about to release 1.8.4 with this included.

[2021-11-03 03:21] #421 closed

[2021-11-03 05:03] mrolli commented on #216
I do have the very same issue and can't uninstall anything even the nth time:

[code]

[2021-11-03 05:37] chris-araman commented on #164
For those reporting failures on macOS Monterey, you may be interested in https://github.com/mas-cli/mas/issues/417.

[2021-11-03 06:03] luisriverag commented on #164
Thanks!

[2021-11-03 16:50] zcutlip commented on #417
Just a quick update on my progress:

I'm giving this project a try:
https://github.com/ChiChou/IDA-ObjCExplorer

It was a bit broken on Monterey's `dyld_shared_cache` and the latest IDA, but I was able to hack on it a bit and git it going.

Unfortunately, the first thing it tries to resolve, it failed on. It parses `__objc_protolist` and for each entry, tries to resolve `name`, `types`, and `impl`

[2021-11-03 20:30] andrewcrook commented on #417
I was looking at this tool I extracts and apparently works with Hook
[https://github.com/keith/dyld-shared-cache-extractor](https://github.com/keith/dyld-shared-cache-extractor)

I saw this interesting comment regarding using Xcode13
https://github.com/keith/dyld-shared-cache-extractor/issues/1#issuecomment-925402348

[2021-11-03 21:18] chris-araman commented on #417
I think I have a workaround for the issue preventing `install`, `lucky`, and I *think* `upgrade` from working on Monterey in #428. It doesn't explicitly fix `account`, because macOS 12 appears to no longer expose this information, or at least not via the same API. However, I suspect most people following this issue are here for redownloads and upgrades. 🤗

Getting new headers generated will still

[2021-11-03 21:43] jcouball opened #429 "🐛 [BUG] Running mas gives segmentation fault"
## Your Environment

- `mas version`: unable to run `mas version` (results in a seg fault), but `brew info mas` reports: `mas: stable 1.8.4 (bottled), HEAD`
- Intel MacBook Pro: MacBookPro15,1
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 12.0.1

### mas Install Method

- [X] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)

[2021-11-03 22:15] andrewcrook commented on #417
It also look as if needs to be complied using Xcode 13 to read the new cache format.
Mas is compiled using Xcode 11.5 ?

[2021-11-03 22:22] jcouball commented on #429
I uninstalled `mas` with `brew uninstall mas` and then installed from the .pkg installer with the same results.

[2021-11-03 23:11] chris-araman commented on #417
@andrewcrook, building `mas` requires Swift 5.3 or later, which is included with Xcode 12 or later. That said, whatever tools used to extract dylibs or generate headers from them don't necessarily need to be built with the same Xcode release as `mas`.

[2021-11-04 01:34] phatblat commented on #429
@jcouball What mac are you running this on? Is it one with an M1 CPU?

[2021-11-04 01:41] jcouball commented on #429
This is on an intel MacBook Pro

[2021-11-04 01:43] chris-araman commented on #429
@jcouball, what is the output of `brew tap`?

Are there any entries for `mas` in the Console app under Crash Reports? If so, would you mind dropping the contents of that report here?

[2021-11-04 02:31] phatblat commented on #417
Managed to get the function list out of IDA free using the "Copy All" context menu entry.

- [CommerceKit.csv](https://github.com/mas-cli/mas/files/7471856/CommerceKit.csv)
- [StoreKit.csv](https://github.com/mas-cli/mas/files/7471857/StoreKit.csv)

This still needs additional manual processing to generate usable Objective-C headers.

[2021-11-04 02:36] zcutlip commented on #417
Just a thought: do these frameworks exist on iOS? DyldExtractor (linked above) does a *pretty* good job of extracting dylibs from iOS's shared cache. They're not actually linkable/usable at run-time but they're very complete for static analysis purposes. If `class-dump` generally works on iOS libraries, and the frameworks you need exist on iOS, would that be an angle worth looking at? Happy to giv

[2021-11-04 02:58] phatblat commented on #417
@zcutlip That's a good question. I haven't ever looked for these private frameworks on iOS, but that did have an app store first so these low-level frameworks may be used on both platforms.

I haven't ever used `class-dump` on iOS frameworks. Work I do on that platform is to ship to the App Store so we steer clear of Apple's private stuff.

[2021-11-04 03:12] zcutlip commented on #417
@phatblat Okay, good to know. I'll try to take a look in parallel to my macOS efforts

[2021-11-04 03:13] phatblat commented on #417
Looks like iOS has [`iTunesStore`](https://www.theiphonewiki.com/wiki//System/Library/Frameworks) (private) and [`StoreKit`](https://developer.apple.com/documentation/storekit) (public, on all Apple platforms). The former may have been the basis for `CommerceKit` and `StoreFoundation`.

[2021-11-04 17:07] jcouball commented on #429
Here is the output of `brew tap`:

$ brew tap
adoptopenjdk/openjdk
buo/cask-upgrade
homebrew/bundle
homebrew/cask
homebrew/cask-fonts
homebrew/cask-versions
homebrew/core
$
[code]

[2021-11-04 17:10] jcouball commented on #429
Haha, when selecting the crash report for `mas`, the Console app "quit unexpectedly" and now has a crash report listed for itself.

Here is the crash report for `mas`:

[code]

[2021-11-04 17:17] chris-araman commented on #429
That stack seems to indicate that no `mas` code has been executed yet. It looks like `dyld` is failing to initialize a `protobuf` symbol in Apple's WirelessDiagnostics framework. Perhaps some other software has installed some `protobuf` library that conflicts with Apple's?

Closing, because this doesn't seem to be a `mas` bug.

[2021-11-04 17:17] #429 closed

[2021-11-04 23:19] chris-araman commented on #417
#428 has been merged, [v1.8.5](https://github.com/mas-cli/mas/releases/tag/v1.8.5) released, and bottles have been published. This resolves the issue many of us were having on Monterey with `install`, `lucky`, and `upgrade`.

For folks using `brew bundle` with `mas` dependencies (as I do), you may need to wait for corresponding changes to `Homebrew-bottle`.

I will leave this issue open, as the sy

[2021-11-06 16:22] youbaowangsheng commented on #164
Any update on this??

[2021-11-07 00:53] Augists commented on #164
So, is there anyone who can tell me how to avoid this error 😭

---

macOS Monterey 12.0.1
map 19

[2021-11-07 07:14] 4708696-UniGe commented on #164
With lastest mas update works on Monterey

[2021-11-07 22:23] drewauff opened #431 "Add flag to suppress warnings"
Can you add a flag to suppress "Warning Identifier Not Found"

I have at least 20 of them and I use mas piped through `cut -d 'W' -f1` to remove them but this does not work anymore.

In fact it seems  using cut,  grep, awk, sed etc. does not work as expected since th last update.

[2021-11-08 20:42] zcutlip commented on #417
Slower progress than I'd hoped, but getting closer. I was able to get the IDA plugin I'm working on to mostly resolve all the protocol and class structures.

Where it's currently choking is class & instance method names. It's able to find the type strings as well as the actual method IMPL

IDA can clearly work these out, as @phatblat as demonstrated. I'll see if there's a way to either ask IDA "wh

[2021-11-08 20:44] zcutlip commented on #417
In the previously output, the methods like `UNKNOWN_0x1a2b9f210` are actually known, but we just can't programmatically resolve the method names, so I'm putting in a placeholder.

[2021-11-08 21:22] zcutlip commented on #417
Here's an example in case anyone has any ideas. This is the class method list for `CKDialogController`. It only has one entry, which should be for `+[CKDialogController sharedDialogController]`
[code]
The address of the entry is `0x1a2938ea0`
To get the type string: `0x1a2938ea0 + 0x1896D = 0x1a2951811`, which points to "@16@0:8"
To get the method impl: `0x1a2938ea0 + (-0x3D6F8) = 0x1A28FB7B0`, wh

[2021-11-10 19:14] zcutlip commented on #417
Okay, think I figured something out. The `dyld_shared_cache` has table of "preoptimized" strings for all the libraries bundled in the cache. This is located in the `libobjc.A:__OBJC_RO` segment. It starts out with a table of what appear to be class names, from all across the shared cache. Following that there appears to be a table of selector strings.

[code]

 I believe the `0xE10DC5` offset is f

[2021-11-10 22:06] zcutlip commented on #417
Okay, got method selector strings resolved. Still CommerceKit. Haven't gotten to StoreKit yet.
[ida-output.txt](https://github.com/mas-cli/mas/files/7516176/ida-output.txt)

Remaining todo:

- [ ] Resolve type strings to actual parameter and return types
- [ ] Properties
- [ ] ivars
- [ ] ObjcExplore has a TODO for class methods for protocols, but I haven't seen any so far in IDA. Are they uncommo

[2021-11-10 22:09] drewauff commented on #431
I am running this through a small zsh/fzf widget, this :
`mas outdated 2>/dev/null | awk '{$1=""; print $0}' | fzf | awk '{print $1}' | xargs -I % mas upgrade %`

It runs just fine says its updating then spits out this error and a dialog box.

But I get this error :
`Error: Download request failed: The network connection was lost.`

And if I run a simple :
`mas outdated 2>/dev/null | fzf | xargs -

[2021-11-11 20:00] zcutlip commented on #417
I'm working on resolving encoded type strings for the methods, and I thought I'd lean on the `class-dump` project for this, since it knows how to do that. Does anyone have experience with the `formatType` utility that's part of that project?
[code]

It looks like it takes as input a text file with one encoded type string per line, ignoring `//` lines and empty lines.

But I'm getting weird output.

[2021-11-17 12:07] aumuell commented on #384
I get a current version of 1Blocker reported as outdated:
`1365531024 1Blocker (4.1 -> 5.1)`

I would like to highlight this, as I didn't see this mentioned yet:
On the German Mac App Store, 4.1 is the current version of 1Blocker, but 5.1 is the current version of 1Blocker in the iOS store.

I'm on 12.0.1 on Apple Silicon, so also some apps from the iOS store are installable, but not 1Blocker. `ma

[2021-11-17 12:13] melgu commented on #384
I have the same problem.
[code]
All of those already are on the latest version available for macOS.

[2021-11-18 18:07] zcutlip commented on #417
My IDA objective-C plugin seems to be working well. However transforming the encoded type strings into actual method signatures is currently a blocker for me.

What I could do instead is generate something machine parseable like JSON with all the class and protocol pieces such as class names, class & instance selector strings, ivar names, type strings, etc. Then if someone is able to decode those

[2021-11-18 18:55] chris-araman commented on #431
This error has nothing to do with `fzf` or `mas` sending errors and warnings to `stderr`.

Can you help me understand what you're trying to accomplish? It looks like you're using this sequence of commands to upgrade all outdated App Store apps. For that, you can simply run `mas upgrade`. If you want to ignore the `Nothing found to upgrade` warning, run `mas upgrade 2&>/dev/null`. (I missed the amp

[2021-11-18 19:05] chris-araman commented on #431
Ah, okay. I've read the `fzf` [usage](https://github.com/junegunn/fzf#usage) now.

I think you want:
[code]

[2021-11-18 19:23] chris-araman commented on #431
@drewauff, which version of `mas` are you running?
[code]

As of 1.8.4, errors and warnings are emitted to `stderr`, meaning `mas outdated 2>/dev/null | fzf` should not pipe warnings to `fzf`. However, running `mas upgrade` with no arguments when no apps are outdated will yield such a warning.

How is your widget meant to handle this case?

[2021-11-18 19:25] chris-araman commented on #384
I've summarized this in the [Known Issues](https://github.com/mas-cli/mas#%EF%B8%8F-known-issues) section of the README.

Additional reports of apps with mismatched app bundle versions are unfortunately not helpful at this point. Pull requests are welcome!

[2021-11-18 19:26] chris-araman commented on #387
I've summarized this in the [Known Issues](https://github.com/mas-cli/mas#%EF%B8%8F-known-issues) section of the README.

[2021-11-18 19:35] chris-araman commented on #417
Yeah, I think that could work. We might be able to extract the string decoding logic from `class-dump` to its own command.

Alternatively, do you think it should be possible to teach our [fork](https://github.com/mas-cli/class-dump) of `class-dump` to read your JSON? That way it could still write headers out as it did from Mach-O binaries.

[2021-11-18 21:53] drewauff commented on #431
Im running 1.8.5

Basically, you run the alias,  a list of applications that have updates pending are listed, the you select 1 or as many as you like hit enter and then it updates.

Further clarificaton, `awk '{$1--"; print $9}'` outputs everything except the first column, `awk '{print $1}'` is just parsing the whatever entry is in the first column to be executed via mas upgrade.

I hope this is o

[2021-11-18 22:15] chris-araman commented on #431
Got it. How does your script handle the case when there's nothing to update? What is expected to happen?

[2021-11-19 00:27] chris-araman commented on #431
Alternatively, if you just want the warning to be emitted to `stdout` along with the list of outdated apps, as before:
`mas outdated 2>&1`

[2021-11-19 10:38] drewauff commented on #431
When there is nothing to update it returns to command line.

[2021-11-19 10:41] drewauff commented on #431
nope, spews a messsage "identifier `insert identifier` unknown.

[2021-11-19 22:53] drewauff commented on #431
ok..new error time..Using this `mas outdated 0>&1 2>/dev/null | fzf | awk '{print $1}' | xargs -I % mas upgrade % `
It gives the standard updated outdated package, then a dialog box pops up the `network connection lost` so I close that and in iterm ctrl-z to kill process and now I get
` Error: Download request failed: The network connection was lost.`

[2021-11-19 22:59] drewauff commented on #431
hmmm, just ran `mas upgrade "app name` and blood hell got the download request error again. So maybe its mas itself?

[2021-11-19 23:06] drewauff commented on #431
Ok, I tried to "sign-in" but apparently Catalina is not supported. Bugger!

[2021-11-19 23:09] chris-araman commented on #431
@drewauff, you will need to sign in using the App Store app.
https://github.com/mas-cli/mas#%EF%B8%8F-known-issues

[2021-11-19 23:12] drewauff commented on #431
beat you to it,  already had coursery  read through that. purchase is not supported on Catalina but did not see anytning about signin

[2021-11-20 08:43] drewauff commented on #431
sorry accidental close....

[2021-11-23 11:03] JanOwiesniak commented on #313
same issue on:

- macOS 12.0.1 (21A559)
- mas 1.8.5

[code]

[code]

[code]

[code]

[2021-11-23 17:25] bdruth commented on #417
Thanks all that are working here to help `mas` work on Monterey! For anyone finding their way over here from https://github.com/geerlingguy/ansible-collection-mac/blob/master/roles/mas/README.md, I did a quick workaround to get `mas account` to satisfy the ansible task that was using it ... you need to be logged in, and your config needs to just have empty strings for your mas account info, but th

[2021-11-23 21:54] zcutlip commented on #417
Sorry for being slow on this. Actual job-related work has taken over. I'm taking the rest of the week off for the holiday, so I hope to at least get some JSON generated soon. Then I'll see if we can teach class-dump to ingest that

[2021-11-23 21:56] chris-araman commented on #417
No need to apologize. Your expertise, efforts, and time are appreciate.

[2021-11-23 22:03] blacktop commented on #417
sorry for jumping in, but have you tried my tool [ipsw](https://github.com/blacktop/ipsw): `ipsw dyld macho DSC StoreKit --objc` ?

[2021-11-23 22:12] zcutlip commented on #417
I'm familiar with your tool, but wasn't aware of it's dsc/obj-c capabilities. Giving it at try now. Thanks!

[2021-11-23 22:16] blacktop commented on #417
If you have bat installed (brew install bat) you can pipe the output of my tool to: `bat -l m --tabs 0 -p --theme Nord --wrap=never --pager "less -S"` to make it look amazing.

[2021-11-23 22:42] zcutlip commented on #417
Yeah that's really cool. This gets us really close. I'll see if I can clean up the output to be a proper header file.

Very nice work on `ipsw`

[2021-11-24 08:11] circumeo opened #436 "🐛 [BUG] 🙏[HELP WANTED] Mas command no response question"
## Your Environment

- `mas version`: 1.8.5
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 11.6.1

![스크린샷 2021-11-24 오후 5 08 55](https://user-images.githubusercontent.com/76243664/143199626-84a30efd-e939-4be1-95d8-48eae08a1f07.png)

As shown in the picture, the link between mas and the app store has been unlocked. Help me! 🙏
Thank you in advance

[2021-11-24 08:13] circumeo opened #437 "🐛 [BUG] [help wanted]"
## Your Environment

- `mas version`:
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 10.1...

### mas Install Method

- [] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
  - Fork/branch: ? (e.g. mas-cli/main)
  - Xcode vers

[2021-11-24 08:13] #437 closed

[2021-11-25 03:02] git-shochann opened #438 "`signin` fails; `install` only works for previously purchased apps"
## Your Environment

- `mas version`: 1.8.5
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 12.0 MacOS Monterey

### mas Install Method

- [✔︎] `brew install mas` (homebrew-core)

## Describe the Bug

https://github.com/mas-cli/mas/issues/46#issuecomment-248581233

Is it impossible to install an App that I have not downloaded yet?
``
For example,
`mas install 497799835`

[2021-11-25 05:42] drewauff commented on #431
so, been experimenting with mas, no luck whatsoever....

[2021-11-27 03:05] fastily commented on #438
Seems to be a duplicate of #289

[2021-11-28 12:43] antifuchs commented on #336
Is there any update on this from the CLI front? I've been using mas with homebrew bundles, and every run of that since April has taken far longer than a "no updates" run would due to mas attempting to upgrade 1Blocker. Is there anything that would make it possible to detect that no update is available on the platform where we're running the command?

[2021-11-30 02:05] #438 closed

[2021-11-30 02:08] phatblat commented on #436
@circumeo I'm not clear on what you mean by saying the "link between mas and the app store has been unlocked". Can you be more specific?

The issue that I see from your `uninstall` attempt in the above screenshot is that you did not run the command as root. Try `sudo mas uninstall <appID>`

[2021-12-01 01:45] chris-araman commented on #336
@antifuchs, please see [Known Issues](https://github.com/mas-cli/mas#%EF%B8%8F-known-issues).

[2021-12-01 01:50] chris-araman commented on #431
@drewauff, I'm not sure why you're seeing the errors you're seeing, but they have to do with your network connectivity and your App Store sign-in state. I don't seen evidence of `mas` bugs here, just a change to how warnings are emitted to the console, which I've addressed above. This command works for both the "some apps are outdated" and "no apps are outdated" cases:
[code]

[2021-12-01 01:50] #431 closed

[2021-12-01 02:01] drewauff commented on #431
@chris-araman I added `awk '{$1=""; print $0}'` to hide the APP ID numbers, and THATS most likely creating the error.

[2021-12-01 05:53] drewauff commented on #431
hmm, seems a reboot did  the trick..

Thanks for putting up with me haha, appreciate your time and patience.

-
Andy

note: Would it be possible to get an option to hide the APP ID numbers?

[2021-12-03 08:48] nohli opened #439 "`outdated` always lists current NordVPN"
## Your Environment

- `mas version`: 1.8.5
- macOS version: 12.0.1 (M1)

### mas Install Method

- [x] `brew install mas` (homebrew-core)

## Describe the Bug

mas upgrades the 'outdated' NordVPN every time 'mas upgrade' is called.

## To Reproduce

Steps to reproduce the behavior:

1. Install NordVPN via App Store
1. 'mas upgrade'

## Expected Behavior

It doesn't upgrade NordVPN every time.

##

[2021-12-03 09:00] chris-araman commented on #439
@nohli, please see Known Issues:
https://github.com/mas-cli/mas#%EF%B8%8F-known-issues

[2021-12-03 09:00] #439 closed

[2021-12-03 09:02] nohli commented on #439
Thanks 🙏🏽

[2021-12-03 09:58] fellnerse commented on #216
Same here, pls fix this

[2021-12-03 10:14] chris-araman commented on #216
@fellnerse, pull requests welcome!

[2021-12-03 10:15] fellnerse commented on #216
If you hint me in the right direction I'd love to help out

[2021-12-03 17:51] tcurdt commented on #216
I see the same thing on macOS 12.0.1 on a M1 with version 1.8.5.
No uninstall possible.

[2021-12-03 18:44] chris-araman commented on #216
I wonder if the `CKSoftwareMap` cache for `sudo` is separate from that for the user. That would explain the initial "not installed" error.

Some possibilities for address this:
1. Instead of warning and failing when not run with `sudo`, perhaps `mas` could prompt for privilege elevation *after* collecting the bundle path, then trash with elevation. I'm not sure how to accomplish this on macOS, or

[2021-12-04 07:31] fellnerse commented on #216
For me it would be enough in a first step that I can remove items from the list that are not installed anymore. Otherwise they end up in my brewfile when dumping my enc.

[2021-12-04 15:43] tcurdt commented on #216
Using "AppCleaner" worked for me.

[2021-12-04 20:16] chris-araman commented on #216
Electron's app installer seems to [use](https://github.com/electron/electron/blob/bd10b19b0cdc46cdbadb570af89305e64541b679/shell/browser/ui/cocoa/electron_bundle_mover.mm#L311) deprecated API [`AuthorizationExecuteWithPrivileges`](https://developer.apple.com/documentation/security/1540038-authorizationexecutewithprivileg) to remove an app bundle before replacing it.

This seems to be what Apple's

[2021-12-09 00:36] zcutlip commented on #417
Okay, making progress:

I'm dumping JSON from IDA pro, and I've written some python that shells out to `classdump`'s `formatType` utility, to convert encoded type strings into method signatures.

I've attached a gist with JSON for CommerceKit as well as C-header formatted output from post-processing the JSON. There's definitely stuff missing, like ivars and properties, and probably a few other thi

[2021-12-09 00:39] zcutlip commented on #417
Oh, I think I get the organization. It's supposed to be one `.h` per protocol or class, is that right?

[2021-12-09 05:19] hsingll opened #441 "`outdated` & `upgrade` don't work"
## Your Environment

- `mas version`:
10.15.7

### mas Install Method

- [X] `brew install mas` (homebrew-core)

## Describe the Bug

<img width="1216" alt="Snipaste_2021-12-09_11-41-55" src="https://user-images.githubusercontent.com/26346635/145338960-4557749c-fe86-49da-b001-2bc59a124b03.png">

[2021-12-09 05:24] chris-araman commented on #441
@hsingll, please see [Known Issues](https://github.com/mas-cli/mas#%EF%B8%8F-known-issues).

[2021-12-09 19:31] kennymc-c opened #442 "🐛 [BUG] "Outbank" can not be found but installed via id"
## Your Environment

- `mas version`: 1.8.5
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 12.0.1

### mas Install Method

- [X] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
  - Fork/branch: ? (e.g. mas-cli/main)
  - Xcod

[2021-12-14 00:16] zcutlip commented on #417
I'm now writing out individual `.h` files per protocol & class, but I'm now realizing there's a lot more to it. I'm currently dumping about 90-ish header files from CommerceKit alone, because there are lots of class and protocol structures in the binary that don't need to be dumped

 I studied what `class-dump` does, and it's quite sophisticated. It actually builds a dependency graph and then is a

[2021-12-14 08:05] chris-araman commented on #417
I haven't found time to dive into this gist yet, but I'm hoping to do so this week. Hopefully there are enough breadcrumbs here to piece together a plan for the original issue reported here, among others.

Yep!

Option 1 would probably be best in the long run if you were able to publish your IDA scripts as open source. That way, we could try to integrate the functionality directly into `class-dump

[2021-12-14 18:47] chris-araman commented on #417
It looks like several of the interfaces used by `mas` have class methods used to expose shared singletons.

[2021-12-15 00:46] zcutlip commented on #417
I'll absolutely share the IDA plugin. I'm in the process of doing the following:

- Cleaning up the plugin so it's easier to use, gives you a choice of frameworks/dylibs to dump, etc.
- adding ivars, properties, etc. to the JSON
- rolling up a zip file with all the JSON and all the individual header files I'm able to generate

At that point, based on feedback,I can revise the JSON output to includ

[2021-12-15 19:37] chris-araman commented on #442
@kennymc-c, it's possible this app was removed for sale from the App Store, or was removed for sale in your region. If you had already purchased the app, though, you'd still be able to download it again. I suspect that may be what happened here, but am not sure how to verify it.

[2021-12-15 19:43] kennymc-c commented on #442
No, it was not removed. I searched for older closed issues and found #221. Outbank was also listed there. So it is defintly not the only app with this problem. Some of them are fixed but not Outbank.

[2021-12-15 19:53] chris-araman commented on #442
What region is your account in, @kennymc-c? I don't see "Outbank" when searching the U.S. Mac App Store region. I also checked iOS and iPadOS apps.

[2021-12-15 19:59] kennymc-c commented on #442
My account region is Germany.

[2021-12-15 20:09] chris-araman commented on #75
My understanding is that the App Store region is tied to an Apple ID. If it is possible for `mas` to change the region programmatically, it would be changed on the Apple ID for all services, not just the App Store. There are implications for a user's existing purchases, memberships, subscriptions, balances, and downloaded books, music, movies, and TV shows.
https://support.apple.com/en-us/HT201389

[2021-12-15 20:52] chris-araman commented on #442
Got it. Thanks for your report, @kennymc-c! It looks like `mas` was not passing a `country` query parameter to the iTunes Search API. This will be resolved with #443.

[2021-12-15 21:08] chris-araman commented on #161
This code was removed in b0fa41049f3d559f9b6040e4943c6aa7e48b5787.

[2021-12-15 21:08] #161 closed

[2021-12-15 21:31] chris-araman commented on #216
[`xcodes`](https://github.com/RobotsAndPencils/xcodes/blob/d18525937140e9e80f3712ae5f8459c0c2d2bc42/Sources/XcodesKit/XcodeInstaller.swift#L818) checks whether it's running under sudo by invoking `sudo -nv`. If it isn't, it queries for the user's password and passes it to `sudo` when executing additional commands. This wouldn't be ideal, but `mas` could in theory re-invoke itself under `sudo` if i

[2021-12-16 00:17] zcutlip commented on #417
Got ivars going. Here's a sample

[code]

I haven't looked at properties yet, but ivars weren't too bad. Hopefully properties will be equally straightforward.

I'm attaching a zip file of all the headers I've spit out so far, along with the JSON I spit out from IDA.

Cheers

[2021-12-16 01:21] chris-araman commented on #417
I don't see `CKDownloadDirectory` or `CKDownloadQueueObserver` in the .zip. Are they visible to your script? What about those [types `mas` uses from `StoreFoundation`](https://github.com/mas-cli/mas/tree/main/Sources/PrivateFrameworks/StoreFoundation)?

[2021-12-16 01:36] zcutlip commented on #417
I haven't started `StoreFoundation` yet. I have a separate IDB for it. I wanted to get the overall process working first,

I'll check on `CKDownloadDirectory` & `CKDownloadQueueObserver` in my CommerceKit IDB and figure out why they aren't being dumped.

[2021-12-16 02:14] zcutlip commented on #417
It appears `CKDownloadDirectory is just a standard C function exported by `CommerceCore.framework` (see attached screenshot). I won't be able to get normal exports by walking the objective-C structures. I'll have to walk the exports to get those.

As far as `CKDownloadQueueObserver`, I don't find any reference to it in the IDB. The closest thing there is is `DownloadQueueObserver`, for which there

[2021-12-16 02:29] chris-araman commented on #417
`CKDownloadQueueObserver` is passed as `arg1` to `CKDownloadQueue.addObserver` and `removeObserver`, and it looks like they're held in [`downloadQueueObservers`](https://github.com/mas-cli/mas/blob/894447eedec6f2c30d285a16e3fafcfa34f3dcff/Sources/PrivateFrameworks/CommerceKit/CKDownloadQueue.h#L26). Maybe your work on properties will expose how to find that type. Perhaps it isn't exported because

[2021-12-16 02:38] zcutlip commented on #417
Forgot to actually attach screenshot previously:

<img width="921" alt="Screen Shot 2021-12-15 at 6 02 59 PM" src="https://user-images.githubusercontent.com/2158303/146297776-15b69c72-3eac-40f0-ab1a-4a620f8af979.png">

[2021-12-16 18:41] zcutlip commented on #417
I should add that I'm happy to share my IDB if it's helpful. It's quite large though, around 18GB, so I'm not sure the best way to do that.

[2021-12-16 21:58] chris-araman commented on #417
@zcutlip, thanks for the offer. I think we could rebuild an IDB if needed. Tooling to generate new headers will be more valuable than a one-time snapshot in the long run.

[2021-12-20 23:41] #85 closed

[2021-12-20 23:41] #442 closed

[2021-12-26 19:30] #380 closed

[2021-12-28 05:41] Saucken1945 opened #444 "Manually specify region"
## Your Environment

- `mas version`: 1.8.6
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 12.1

### mas Install Method

`brew install mas` (homebrew-core)

## Describe the Bug

The region in mas formula (China Mainland) is different from that in Mac App Store (the USA).
unable to switch from China Mainland to the USA App Store
hence cannot install any application that h

[2021-12-28 19:00] chris-araman commented on #444
This is fallout from #442 and #443.

As of 1.8.6, `mas` now queries the App Store based on the user's region set in macOS. Users that want to manage apps from other regions don't yet have a way to pass that region on the command line. As a workaround, @Saucken1945, you should be able to temporarily select the region of the apps you want to maintain in System Preferences, Language & Region, General

[2021-12-31 22:12] singularitti opened #446 "Can it track iPhone/iPad (iOS/iPadOS) apps?"
**Is your feature request related to a problem? Please describe.**
Can we have it to track iPhone/iPad (iOS/iPadOS) apps? When I do `mas list` or `brew bundle dump`, it does not seem to include those apps.

**Describe the solution you'd like**
To output iPhone/iPad (iOS/iPadOS) apps in `mas list` or `brew bundle dump`.

[2021-12-31 22:36] chris-araman commented on #446
Hi, @singularitti. This issue is already tracked in #321.

[2021-12-31 22:36] #446 closed

[2022-01-01 05:05] eatstorming opened #447 "Improve app version comparison"
I just started using MAS yesterday and I ran into a weird issue. One of the apps I use (Spark Mail) recently had an update where the version number has a space, seemingly by mistake: **2. 11.9**

This seems to throw off MAS every time I run mas upgrade:

[code]

So my guess is that the space in the version is throwing the check off.

I tried to check the code, and got as far as seeing that isOutda

[2022-01-04 02:18] chris-araman commented on #447
Unfortunately, App Store versions are not as well-defined as [Semantic Versions](https://semver.org). They're just strings.

`mas` does the best it can given the information exposed by `CommerceKit` and `StoreFoundation`. I agree that the space is likely causing `mas` some trouble.

Do you have a specific improvement to suggest? Pull requests are welcome! In general, though, finding ways to handle

[2022-01-04 03:52] eatstorming commented on #447
Cool. I'll play with it once I got some time and see if I can fix it, then push a PR if I can do it.

Maybe, but I like how the Known Issues are now: it covers a more common list of cases in my opinion. This one is a one-off but maybe similar cases will happen from time to time, so I guess up to you.

[2022-01-07 14:18] Saucken1945 commented on #444
I reinstall my macOS before I saw this reply, and, obviously it doesn't work. So, do not be an idiot like me...

[2022-01-12 11:14] #253 closed

[2022-01-16 12:51] ChrisChinchilla commented on #384
Out of interest (and yes I have my own persistent list of apps that are always getting updated), I also use CleanMy Mac and it's updater list generally has the correct versions for the same two apps, could be worth asking them how they get updated version lists?

[2022-01-16 19:52] carlfugate commented on #313
Same issue

- MacOS 11.5.2 (M1 Mac)
- MAS 1.8.6
<img width="434" alt="Screen Shot 2022-01-16 at 1 49 16 PM" src="https://user-images.githubusercontent.com/20912777/149675579-ce316e98-fd43-4a19-b849-0d22ffd710a7.png">

[2022-01-21 20:03] atommclain opened #449 "Support installation to subdirectories of `/Applications`"
**Is your feature request related to a problem? Please describe.**
**Describe the solution you'd like**
It would be nice to support downloading apps to a custom path. Eg `mas install 414568915 --path /Applications/Utilities`

**Describe alternatives you've considered**
I use a `Brewfile` with `brew bundle` to run mas, an alternative would be to create a script to manually move the applications to

[2022-01-26 17:10] phatblat commented on #449
This is an interesting use case @atommclain. The Mac App Store doesn't support this, but apps can certainly be moved after installation.

Since you follow this practice, how has the Mac App Store treated these relocated apps? Do they get updated correctly? Are the updates installed to the same location, or do they get moved back up to `/Applications`?

In order for `mas` to support this, the `inst

[2022-01-31 16:11] atommclain commented on #449
I will verify and report back, but I've never had issues updating or applications getting moved up to this point.

Perhaps I am misreading/misunderstanding, but I do believe that there is already support in the `Brewfile` syntax for passing in custom args. See example: `cask "firefox", args: { appdir: "~/my-apps/Applications" }` in https://github.com/Homebrew/homebrew-bundle. So perhaps it would j

[2022-02-01 23:29] phatblat commented on #449
Ah! I didn't realize that brew bundle supported this `appdir` argument. In that light, yes, only the `mas install` command would need similar support.

[2022-02-03 00:18] brian163 opened #450 "🐛 [BUG] No package file for v1.8.6"
Can someone check the assets for v1.8.6? There is no package installer.

Thanks

[2022-02-03 20:16] Drallas commented on #313
Same issue for me:

[code]
Any new on what's causing this?

sudo -s doesn't sove it!

[2022-02-04 02:24] phatblat commented on #450
@brian163 Thanks for reporting. I've built the `.pkg` file and attached it to the 1.8.6 release. Here's a direct link for you convenience: https://github.com/mas-cli/mas/releases/download/v1.8.6/mas.pkg

[2022-02-04 02:24] #450 closed

[2022-02-07 22:29] brian163 commented on #450
thanks

[2022-02-16 20:17] steinybot opened #452 "🐛 [BUG] Universal binary regression"
## Your Environment

- `mas version`: 1.8.6
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 12.1

### mas Install Method

- [ ] `brew install mas` (homebrew-core)
- [ ] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [x] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [ ] Built from source
  - Fork/branch: ? (e.g. mas-cli/main)
  - Xco

[2022-02-18 17:41] phatblat commented on #452
Crap. Thanks for the heads-up @steinybot! We don't have the `.pkg` building automated and I manually created it on my Intel mac. I'll fix this and let you know when the arm64 slice is included.

[2022-02-21 01:35] phatblat commented on #452
Related to #450

[2022-02-21 03:22] phatblat commented on #452
I've rebuilt the `.pkg` for [mas 1.8.6](https://github.com/mas-cli/mas/releases/tag/v1.8.6) and attached the now-universtal binary package to the release.

[2022-02-21 03:22] #452 closed

[2022-02-22 08:18] matteocorti opened #453 "bash completion script"
It would be nice to include in the packaging a bash-completion script.

I wrote a first working version (just the commands and the IDs of installed applications for the ```uninstall``` command).

If you want to integrate feel free: https://github.com/matteocorti/mas.completion

[2022-02-27 00:40] whilestevego commented on #313
MacOS 12.2.1 and still not working

<img width="745" alt="image" src="https://user-images.githubusercontent.com/5523172/155863594-f8d43432-ecdb-4546-a033-5683eb493877.png">

[2022-02-28 21:25] quinncomendant commented on #336
I just encountered the same issue on macOS 12.2.1 with mas 1.8.6:

mas shows that Instapaper is outdated, but 8.0.1 is the latest version available for macOS, only iOS has a 8.1 version.

[code]

[2022-03-13 11:32] wohfab opened #456 "`update` re-updates certain apps every time"
- `mas version`: 9.5
- macOS version: 12.2.1

- [X] `brew install mas` (homebrew-core)

----

Running `mas upgrade`, says, I habe three outdated applications:

[code]

Software gets upgraded and does not throw any errors. Running `mas upgrade` again, I get the same applications back as "outdated". No matter how often I run the upgrade process, it always says, there are updates.

[2022-03-13 11:45] andrewcrook opened #457 "[FR] support JSON output"
**Is your feature request related to a problem? Please describe.**
easier than parsing may allow use with other tools

**Describe the solution you'd like**
output JSON when `--json ` or `-j`  is used
example
`mas list --json `

**Describe alternatives you've considered**
scripting

[2022-03-19 16:39] philsherry commented on #307
Came looking for information about this while staring at `Installing Xcode` in the output of a script that I've written, which uses `mas`. I've been staring at it for quite some time now.

[2022-03-27 14:13] dalisoft opened #458 "Eventual consistency: `list` sometimes doesn't see apps until after reboot or `outdated` or `info` has been run"
## Your Environment

- `mas version`: v1.8.6
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 11.6.5 (20G527)

### mas Install Method

`brew install mas` (homebrew-core)

## Describe the Bug

Apps in App Store are not in sync with mas.

## To Reproduce

1. Go to App Store
2. Download any your apps from App Store
3. Run `mas list`
4. See out of sync of apps

## Expected Beh

[2022-03-29 10:08] harapeko commented on #164
it worked👍
MBP 2021 14inch M1 Pro
macOS Monterey 12.2.1
mas 1.8.6

[2022-04-05 03:23] brettrowberry opened #459 "`search` only accepts a single argument"
## Your Environment

- `mas version`: 1.8.6
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 12.2.1

### mas Install Method

- [x] `brew install mas` (homebrew-core)

## Describe the Bug

Can't search for apps with multi-word titles.

## To Reproduce

Steps to reproduce the behavior:

1. `mas search Member Tools`
1. See error `Unrecognized arguments: "Tools"`

Use single q

[2022-04-05 03:35] brettrowberry commented on #459
Both of these are iOS apps, so that may be a factor. Just discovered #321.

[2022-04-12 03:03] Fei-Wang opened #461 "`search` Infuse's version is wrong"
## Your Environment

- `mas version`: 1.8.6
- macOS version: 12.3.1

### mas Install Method

- [x] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
  - Fork/branch: ? (e.g. mas-cli/main)
  - Xcode version: 10.?

## Describe the Bug

## To Reproduce
```

[2022-04-12 17:21] carlosfrodriguez opened #462 "🐛 [BUG] 'Apple Configurator' and 'Apple Configurator 2' are listed and with different versions (can not upgrade)"
## Your Environment

- `mas version`: 1.8.6
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`):   System Version: macOS 12.3.1 (21E258)

### mas Install Method

- [X] `brew install mas` (homebrew-core)

## Describe the Bug

## To Reproduce

Steps to reproduce the behavior:

[code]
## Expected Behavior

Only either `Apple Configurator 2` or `Apple Configurator` is listed and c

[2022-04-19 22:29] Ameeralnemer opened #463 "🐛 [BUG]"
## Your Environment

- `mas version`:
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 10.1...

### mas Install Method

- [] `brew install mas` (homebrew-core)
- [] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] Built from source
  - Fork/branch: ? (e.g. mas-cli/main)
  - Xcode vers

[2022-04-20 21:34] binarykitchen opened #464 "Add a verbose flag to see where installation hangs"
Would be great to have a `--verbose` flag so that we can see where any installation progress hangs. For example

[code]

always gets stuck at 80.6% - I'd like to see what it is trying or waiting for. The exact commands that were executed before and what the command is where it hangs.

That would be awesome. Thanks.

[2022-04-28 19:18] n8felton commented on #457
Duplicate of #190

[2022-04-29 18:56] air720boarder commented on #456
This bug is very annoying, but I suspect it's largely with apps that have an iOS counterpart. I have the same issue now with the following apps on my M1 MBP:

1472777122 Honey (14.4.1 -> 14.14.1)
1591303229 Vinegar (2.3.2 -> 2.3.4)
1365531024 1Blocker (4.1.4 -> 5.2.2)

[2022-05-07 09:03] coroblac commented on #456
yes, here the same, it would be nice if somebody find a solution for this …

[2022-05-25 17:17] StrangeRanger opened #466 "Reports an update for NordVPN when there is none"
## Your Environment

`mas version`: macOS 12.4

### mas Install Method

`brew install mas` (homebrew-core)

## Describe the Bug

When using `mas outdated`, it says NordVPN has a 7.12.0 update, when the App store says nothing about the update. When trying to update, mas does it's thing, but when NordVPN is relaunched, it's the same version is was previously. One thing to note, is that an applicatio

[2022-05-30 20:02] StrangeRanger commented on #456
This is similar to my issues. But the thing is, that the application that is outdated, is the current version according to the App Store. I noticed that the app version reported by mas, corresponds the the iOS version of the application.

[2022-06-02 14:19] nicerloop commented on #336
Hi,

I have the same issue with https://apps.apple.com/app/broadcasts/id1469995354

However, another source of information may be available through the web appstore pages: the applicaiton metadata are embedded as json in the html page in a <script type="fastboot/shoebox" id="shoebox-media-api-cache-apps"> tag, among others:

curl "https://apps.apple.com/app/broadcasts/id1469995354" | tr -d '\n' |

[2022-06-03 02:52] njjerrysmith commented on #313
Also an issue for me on `MAS 1.8.6` for `Mac 12.4`

[2022-06-03 09:47] nicerloop commented on #336
Version per platform can be collected with following command:

`curl "https://apps.apple.com/app/broadcasts/id1469995354" |
    tr -d '\n' |
    sed -e's:.*<script type="fastboot/shoebox" id="shoebox-media-api-cache-apps">::' -e's:</script>.*::' |
    jq '
        to_entries |
        .[0].value |
        fromjson |
        .d[0].attributes.platformAttributes |
        to_entries[] |
        { pla

[2022-06-18 16:42] muescha commented on #46
since it is an restriction by then app store then i have accept it

but:

a) is it possible to check with `mas` if an app is already in my purchased list of apps?

b) should it be possible to print out a hint to the command line when i try to `install`, so that i know thats not a bug but a limitation - and how can i solve this (purchase in app store app first).

[code]

to:
[code]

[2022-06-18 17:13] muescha commented on #281
the  `-v`/`--version`, or `-h`/`--help` are flags and options

[2022-06-20 19:06] muescha commented on #281
just copy over the command looks not good as coding style - i would create a wrapper command for alias and wrap them in this command - so no duplicate code is created

see comment here: https://github.com/Carthage/Commandant/pull/155#issuecomment-1159521838

if the alias command not goes into commandant - we can add it anyway into the `mas` codebase

Note: duplicate code is bad, because if someone

[2022-06-23 21:24] hao-lh opened #467 "🐛 [BUG] Runtime exception on Older macOS 10.11 El Capitan"
## Your Environment

- `mas version`: latest binary installed from brew install mas-cli/tap/mas
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 10.11.6 (15G22010)

### mas Install Method

- [] `brew install mas` (homebrew-core)
- [x] [mas-cli/tap](https://github.com/mas-cli/homebrew-tap)
- [] `.pkg` installer from [releases](https://github.com/mas-cli/mas/releases)
- [] B

[2022-06-25 21:09] iMonZ commented on #321
Would be so excited if this would be fixed!!!

[2022-06-28 14:41] nicerloop opened #468 "Extract application version from web app store"
The iTunes search API does not provide application version per platform, and makes mas-cli report a newer version which in fact is for another platform.

The applicaiton metadata are embedded as json in the html page from the web version of the App Store, in a <script type="fastboot/shoebox" id="shoebox-media-api-cache-apps"> tag.

This information provides the application version history per plat

[2022-06-28 14:44] nicerloop commented on #466
See https://github.com/mas-cli/mas/issues/468

`{
  "platform": "osx",
  "version": "7.6.0"
}
{
  "platform": "ios",
  "version": "7.14.0"
}`

[2022-06-28 14:48] nicerloop commented on #456
For 1Blocker, see https://github.com/mas-cli/mas/issues/468

`{
  "platform": "osx",
  "version": "4.1.6"
}
{
  "platform": "ios",
  "version": "5.2.4"
}`

[2022-06-28 14:53] nicerloop commented on #336
Created feature request for enhancement:
https://github.com/mas-cli/mas/issues/468

[2022-07-08 16:22] appils commented on #456
okay guys, i'm done with that … i have uninstall mas … inform me please, if it works someday … *mic drop*

[2022-07-12 15:04] atommclain commented on #449
Just an update on this issue regarding:

I moved an application to a sub folder of /Applications/test and updated via mas-cli, the app was updated without issue.

[2022-07-21 04:58] TheDen commented on #384
I had this issue with Zentuner, where it would upgrade every time
[code]

The workaround was to edit `/Applications/ZenTuner.app/Contents/Info.plist`

[code]

and and  the value to `0.2.2`. This isn't recommended, but useful if you have `mas upgrade` running on schedule and don't want to reinstall certain applications every time

[2022-07-28 04:08] pixelcmtd opened #471 "🐛 [BUG] Hangs without doing anything on macOS 13 Ventura"
## Your Environment

- `mas version`: 1.8.6
- macOS version (`system_profiler SPSoftwareDataType -detailLevel mini`): 13.0 (22A5295i)

### mas Install Method

`brew install mas` (homebrew-core)

## Describe the Bug

Upgrading takes about half a minute to print

[code]

and then does nothing else. (I've waited a few minutes on multiple occasions)

## To Reproduce

1. Run `mas upgrade`
2. Wait for a

[2022-08-01 20:02] josh commented on #471
Seeing the same hang as well.

Installing appears to hang waiting for [`CKPurchaseController.performPurchase`](https://github.com/mas-cli/mas/blob/1892286a16d4367d2158d69734d2720219a8fa7b/Sources/PrivateFrameworks/CommerceKit/CKPurchaseController.h#L44) to call it's `completionHandler` when called from [`SSPurchase.perform`](https://github.com/mas-cli/mas/blob/1892286a16d4367d2158d69734d2720219a8f

[2022-08-04 09:23] jankais3r commented on #392
I made a naive attempt and I hardcoded an `appExtVrsId` belonging to an older app version in `Sources/MasKit/AppStore/SSPurchase.swift`, but that lead to an error on download. Turns out, not all API endpoints allow setting that value, as discussed [here](https://github.com/majd/ipatool/issues/6#issuecomment-1115843056).

The solution applied by [ipatool-py](https://github.com/NyaMisty/ipatool-py#d

[2022-08-07 06:38] twlz0ne commented on #467
Same here.

[code]

[2022-08-21 04:52] skull-squadron opened #473 "Still maintained?"
`mas uninstall` doesn't work (#313) and there doesn't seem to be any commits for the past 2 months.

[2022-08-21 04:59] steakknife commented on #453
The tool itself should output completions for various shells, i.e., `mas completions {ba,fi,z}sh`

[2022-08-23 18:30] phatblat commented on #473
I'm still around @steakknife but we lost the only other maintainer to Apple. Sorry, but I've been pretty busy with a new job that has been taking all of my energy and brainpower so there hasn't been much left for open source work.

Very open to new contributors that want to help out!

[2022-08-24 02:56] steakknife commented on #473
Argh! I'll see what I can from work for support. No promises.

On Tue, Aug 23, 2022 at 1:30 PM Ben Chatelain ***@***.***>
wrote:

[2022-09-10 09:17] BorzdeG commented on #471
In version 13.0 Beta (22A5342f), the "freeze" error no longer occurs, but the software update does not occur either

![image](https://user-images.githubusercontent.com/2332528/189477073-45299411-eff9-4c1e-87b5-3eecf53711d3.png)

[2022-09-10 10:50] davipt commented on #471
Is this trying to install the apple developer tools? The tools are not available yet when running Xcode-select but they can be manually downloaded from the apple site. Even today, with iOS 16 RC already out, the tools still fail to install - "not available" or some error like that.

[2022-09-11 15:45] pixelcmtd commented on #471
Same for me, as useful as it was on 12. (it had that sort of bug all the time)

![screenshot showing exactly the same behavior they experienced](https://user-images.githubusercontent.com/35269695/189536403-84dc4ee9-8105-4b69-b0e8-05eaf5134647.png)

I'd still like to keep the bug open at least until 13.0 is released, if everything still works fine then, we can close this as "Apple broke something,

[2022-09-11 17:54] davipt commented on #471
My bad. Got confused with the “Downloading Apple Developer”. I was talking about `xcode-select —install` that has been failing for many beta versions, but the previous version of the command-tools can be installed manually. Not related, I understand.

[2022-09-11 18:00] phatblat commented on #471
Sounds like Ventura is going to land [next month](https://9to5mac.com/2022/09/09/macos-13-ventura-beta-7-available/). I'm going to install it on one of my Macs so I can keep an eye on this issue.

[2022-09-13 10:49] rgoldberg commented on #468
The existing API call used to get the current version of an app is:

[code]

This currently returns a small JSON object, but it doesn't limit the results to the Mac platform (either it's retrieving the results for the platform with the highest version, or it's always preferentially retrieving results for some platform other than the Mac).

The endpoint will, however, accept an additional query str

[2022-09-13 10:53] rgoldberg commented on #336
An alternative solution, using the currently unused `platform` query string parameter for the JSON endpoint currently used to determine the current version of an app. We would need to find the `platform` value that works for Macs, as the only known working values are `ipad`, `iphone` & `ipod`.

https://github.com/mas-cli/mas/issues/468#issuecomment-1245235037

[2022-09-13 12:29] luckman212 opened #474 "🐛 [BUG] Xcode stuck at ver 13.4.1"
## Your Environment

- `mas version`: 1.8.6
- macOS version: 12.6 (21G115)
- M1 Mac Mini

### mas Install Method

- [x] `brew install mas` (homebrew-core)
- [x] Xcode version: 14

## Describe the Bug

Xcode was updated to 14.0 but `mas info 497799835` still reports latest version as 13.4.1

## To Reproduce

1. type `mas info 497799835` :
[code]

## Expected Behavior

List version 14.0

## Actual B

[2022-09-14 08:41] StefanLobbenmeier commented on #474
Can you try again today? I also had this issue yesterday, but today it offerered this update. So there seems to be some kind of delay.

But even yesterday in the search i was able to see the latest xcode version:
[code]